<!doctype html>
<html lang="en">

<head>
    <title>商品搜尋</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/DistrictType.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <ul id="haha" class="drop-down-menu">
        <li><a href="#">最愛總數</a>
        </li>
        <li><a href="#">熱門排行</a>
        </li>
        <li><a href="#">刊登日期</a>
            <ul>
                <li><a href="#">刊登起始日排序</a></li>
                <li><a href="#">刊登終止日排序</a></li>
            </ul>
        </li>
        <li><a href="#">接受總價格</a>
            <ul>
                <li><a href="#" name="1">價格低到高排序</a></li>
                <li><a href="#" name="2">價格高到低排序</a></li>
            </ul>
        </li>
        <li><a href="#">許願地區</a>
            <ul>
                <li><a href="#">台灣</a>
                    <ul>
                        <li><a href="#">北北基</a>
                            <ul>
                                <li><a href="#">台北市</a></li>
                                <li><a href="#">新北市</a></li>
                                <li><a href="#">基隆市</a></li>
                            </ul>
                        </li>
                        <li><a href="#">桃竹苗</a>
                            <ul>
                                <li><a href="#">桃園市</a></li>
                                <li><a href="#">新竹市</a></li>
                                <li><a href="#">新竹縣</a></li>
                                <li><a href="#">苗栗縣</a></li>
                            </ul>
                        </li>
                        <li><a href="#">中彰投</a>
                            <ul>
                                <li><a href="#">台中市</a></li>
                                <li><a href="#">彰化縣</a></li>
                                <li><a href="#">南投縣</a></li>
                            </ul>
                        </li>
                        <li><a href="#">雲嘉南</a>
                            <ul>
                                <li><a href="#">雲林縣</a></li>
                                <li><a href="#">嘉義市</a></li>
                                <li><a href="#">嘉義縣</a></li>
                                <li><a href="#">台南市</a></li>
                            </ul>
                        </li>
                        <li><a href="#">高屏</a>
                            <ul>
                                <li><a href="#">高雄市</a></li>
                                <li><a href="#">屏東縣</a></li>
                            </ul>
                        </li>
                        <li><a href="#">宜花東</a>
                            <ul>
                                <li><a href="#">宜蘭縣</a></li>
                                <li><a href="#">花蓮縣</a></li>
                                <li><a href="#">台東縣</a></li>
                            </ul>
                        </li>
                        <li><a href="#">離島地區</a>
                            <ul>
                                <li><a href="#">澎湖縣</a></li>
                                <li><a href="#">金門縣</a></li>
                                <li><a href="#">連江縣</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--台灣 -->



                <li><a href="#">日本</a>
                    <ul>
                        <li><a href="#">北海道</a>
                            <ul>
                                <li><a href="#">道北</a>
                                    <ul>
                                        <li><a href="#">旭川</a></li>
                                        <li><a href="#">美瑛</a></li>
                                        <li><a href="#">富良野</a></li>
                                        <li><a href="#">層雲峽</a></li>
                                        <li><a href="#">稚內</a></li>
                                        <li><a href="#">留萌</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">道央</a>
                                    <ul>
                                        <li><a href="#">札幌</a></li>
                                        <li><a href="#">小樽</a></li>
                                        <li><a href="#">苫小木</a></li>
                                        <li><a href="#">洞爺湖</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">道東</a>
                                    <ul>
                                        <li><a href="#">帶廣</a></li>
                                        <li><a href="#">網走</a></li>
                                        <li><a href="#">釧路</a></li>
                                        <li><a href="#">阿寒湖</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">道南</a>
                                    <ul>
                                        <li><a href="#">函館</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">東北地方</a>
                            <ul>
                                <li><a href="#">青森</a>
                                    <ul>
                                        <li><a href="#">弘前</a></li>
                                        <li><a href="#">津輕</a></li>
                                        <li><a href="#">陸奧</a></li>
                                        <li><a href="#">八戶</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">岩手</a>
                                    <ul>
                                        <li><a href="#">盛岡</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">秋田</a>
                                    <ul>
                                        <li><a href="#">秋田</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">宮城</a>
                                    <ul>
                                        <li><a href="#">仙台</a></li>
                                    </ul>

                                </li>
                                <li><a href="#">山形</a>
                                    <ul>
                                        <li><a href="#">山形</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">福島</a>
                                    <ul>
                                        <li><a href="#">福島</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">關東地方</a>
                            <ul>
                                <li><a href="#">茨城</a>
                                    <ul>
                                        <li><a href="#">水戶</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">栃木</a>
                                    <ul>
                                        <li><a href="#">宇都宮</a></li>
                                        <li><a href="#">日光</a></li>
                                        <li><a href="#">佐野</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">群馬</a>
                                    <ul>
                                        <li><a href="#">前橋</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">埼玉</a>
                                    <ul>
                                        <li><a href="#">埼玉</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">千葉</a>
                                    <ul>
                                        <li><a href="#">千葉</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">東京</a>
                                    <ul>
                                        <li><a href="#">東京</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">神奈川</a>
                                    <ul>
                                        <li><a href="#">橫濱</a></li>
                                        <li><a href="#">箱根</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">中部地方</a>
                            <ul>
                                <li><a href="#">山梨</a>
                                    <ul>
                                        <li><a href="#">甲府</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">長野</a>
                                    <ul>
                                        <li><a href="#">長野</a></li>
                                        <li><a href="#">輕井澤</a></li>
                                        <li><a href="#">野澤溫泉</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">新潟</a>
                                    <ul>
                                        <li><a href="#">新潟</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">富山</a>
                                    <ul>
                                        <li><a href="#">富山</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">石川</a>
                                    <ul>
                                        <li><a href="#">金澤</a></li>
                                        <li><a href="#">加賀</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">福井</a>
                                    <ul>
                                        <li><a href="#">福井</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">靜岡</a>
                                    <ul>
                                        <li><a href="#">靜岡</a></li>
                                        <li><a href="#">伊豆</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">愛知</a>
                                    <ul>
                                        <li><a href="#">名古屋</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">岐阜</a>
                                    <ul>
                                        <li><a href="#">岐阜</a></li>
                                        <li><a href="#">美濃</a></li>
                                        <li><a href="#">飛驒地區</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li><a href="#">近畿地方</a>
                            <ul>
                                <li><a href="#">滋賀</a>
                                    <ul>
                                        <li><a href="#">大津</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">京都</a>
                                    <ul>
                                        <li><a href="#">京都</a></li>
                                        <li><a href="#">宇治</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">大阪</a>
                                    <ul>
                                        <li><a href="#">大阪</a></li>
                                        <li><a href="#">堺</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">兵庫</a>
                                    <ul>
                                        <li><a href="#">神戶</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">奈良</a>
                                    <ul>
                                        <li><a href="#">奈良</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">三重</a>
                                    <ul>
                                        <li><a href="#">津</a></li>
                                        <li><a href="#">伊勢</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">和歌山</a>
                                    <ul>
                                        <li><a href="#">和歌山</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li><a href="#">中國地方</a>
                            <ul>
                                <li><a href="#">鳥取</a>
                                    <ul>
                                        <li><a href="#">鳥取</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">島根</a>
                                    <ul>
                                        <li><a href="#">松江</a></li>
                                        <li><a href="#">石見</a></li>
                                        <li><a href="#">出雲</a></li>
                                        <li><a href="#">隱岐</a></li>
                                        <li><a href="#">溫泉津溫泉</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">岡山</a>
                                    <ul>
                                        <li><a href="#">岡山</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">廣島</a>
                                    <ul>
                                        <li><a href="#">廣島</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">山口</a>
                                    <ul>
                                        <li><a href="#">山口</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </li>
                        <li><a href="#">四國</a>
                            <ul>
                                <li><a href="#">德島</a>
                                    <ul>
                                        <li><a href="#">德島</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">香川</a>
                                    <ul>
                                        <li><a href="#">高松</a></li>
                                        <li><a href="#">讚岐</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">愛媛</a>
                                    <ul>
                                        <li><a href="#">松山</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">高知</a>
                                    <ul>
                                        <li><a href="#">高知</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">九州</a>
                            <ul>
                                <li><a href="#">福岡</a>
                                    <ul>
                                        <li><a href="#">博多</a></li>
                                        <li><a href="#">北九州</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">佐賀</a>
                                    <ul>
                                        <li><a href="#">佐賀</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">長崎</a>
                                    <ul>
                                        <li><a href="#">長崎</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">熊本</a>
                                    <ul>
                                        <li><a href="#">熊本</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">大分</a>
                                    <ul>
                                        <li><a href="#">大分</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">宮崎</a>
                                    <ul>
                                        <li><a href="#">宮崎</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">鹿兒島</a>
                                    <ul>
                                        <li><a href="#">鹿兒島</a></li>
                                        <li><a href="#">薩摩</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">沖繩</a>
                                    <ul>
                                        <li><a href="#">那霸</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


            </ul>
        </li>


    </ul><!-- 地區 -->
    </li>

    </ul>
    <div id="div1">


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script>
        $(document)
            .ready(
                function () {
                    $(".drop-down-menu a").click(function () {

                        //  var count=$(this).index();//获取li的下标
                        //  var Tresult=Uarry.eq(count).text();
                       
                        
                        var tt=$(this).text()
                        alert(tt);
                        // $("#tresult").val(Tresult)
                        // $(this).hide();
                        // $(this).toggle();
                        // var orderColumn = $(this).attr("name");
                    
                        var txt = "<div><P>ccccccccccccccccccc</p></div>"
                        $("#div1").html(txt);
                    });
                    // $("ul.drop-down-menu li:hover > ul").hover(function () {
                    //     $(this).show();
                    // });
                });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>