<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>結帳</title>
</head>
<body>
	<div>
		<div>
			<h1>結帳</h1>
		</div>
		<ul>
			<li>確認商品明細</li>
			<li>填寫付款方式</li>
			<li>商品訂購完成</li>
		</ul>
		<fieldset>
			<legend>購物明細</legend>
			<table>
				<thead>
					<tr>
						<th>商品明細</th>
						<th>價格</th>
						<th>數量</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>product name</td>
						<td>product price</td>
						<td>order amount</td>
						<td>order price</td>
					<tr>
						<td>product name</td>
						<td>product price</td>
						<td>order amount</td>
						<td>order price</td>
					<tr>
						<td>product name</td>
						<td>product price</td>
						<td>order amount</td>
						<td>order price</td>
				</tbody>
			</table>
			<div>
				<p>
					<span>商品總金額</span><span>xxxx元</span>
				<p>
					<span>訂單金額小計</span><span>xxxx元</span>
				</p>
			</div>
			<div>
				<p>
					<span>本次消費需付款</span><span>xxxx元</span>
				</p>
			</div>
		</fieldset>
		<fieldset>
			<legend>收件人資訊</legend>
			<div>
				<label>收件人姓名:</label> <span></span>
			</div>
			<div>
				<label>連絡電話:</label> <span></span>
			</div>
			<div>
				<label>E-Mail:</label> <span></span>
			</div>
			<div>
				<label>收件地址:</label> <span></span>
			</div>
			<div>
				<label>商品配送方式:</label> <span></span>
			</div>
			<div>
				<label>付款方式:</label> <span></span>
			</div>
		</fieldset>
		<button type="button">上一步</button>
		<button type="submit">確認結帳</button>
	</div>
</body>
</html>