<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>結帳</title>
</head>
<body>
	<div>
		<div>
			<h1>結帳</h1>
		</div>
		<ul>
			<li>確認商品明細</li>
			<li>填寫付款方式</li>
			<li>商品訂購完成</li>
		</ul>
		<fieldset>
			<legend>商品清單</legend>
			<div>
				<div>
					<img>
				</div>
				<div>
					<p>product name</p>
					<p>product price</p>
				</div>
				<div>
					<span>購買數量:</span> <input type="number"><span>個</span>
				</div>
				<input type="button" name="remove" value="移除">
			</div>
			<div>
				<div>
					<img>
				</div>
				<div>
					<p>product name</p>
					<p>product price</p>
				</div>
				<div>
					<span>購買數量:</span> <input type="number"><span>個</span>
				</div>
				<input type="button" name="remove" value="移除">
			</div>
			<div>
				<div>
					<img>
				</div>
				<div>
					<p>product name</p>
					<p>product price</p>
				</div>
				<div>
					<span>購買數量:</span> <input type="number"><span>個</span>
				</div>
				<input type="button" name="remove" value="移除">
			</div>
		</fieldset>
		<fieldset>
			<legend>結帳明細</legend>
			<div>
				<span>商品金額:</span> <span>xxx</span><span>元</span>
			</div>
			<div>
				<span>手續費:</span> <span>xxx</span><span>元</span>
			</div>
			<div>
				<span>運輸費:</span> <span>xxx</span><span>元</span>
			</div>
			<div>
				<span>結帳總金額:</span> <span>xxxx</span><span>元</span>
			</div>
			<button type="button">結帳</button>
		</fieldset>
	</div>
</body>
</html>