<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>結帳</title>
</head>
<body>
	<div>
		<div>
			<h1>結帳</h1>
		</div>
		<ul>
			<li>確認商品明細</li>
			<li>填寫付款方式</li>
			<li>商品訂購完成</li>
		</ul>
		<fieldset>
			<legend>選擇配送方式:</legend>
			<div>
				<input type="radio" name="deliver" value="">超商取貨
			</div>
			<div>
				<input type="radio" name="deliver" value="">宅配到府
			</div>
		</fieldset>
		<fieldset>
			<legend>選擇付款方式:</legend>
			<div>
				<input type="radio" name="payment">超商取貨付現
			</div>
			<div>
				<input type="radio" name="payment">信用卡一次付清
			</div>
			<div>
				<input type="radio" name="payment">ATM付款
			</div>
			<div>
				<input type="radio" name="payment">線上支付
			</div>
			<div>
				<input type="radio" name="payment">貨到付款
			</div>
		</fieldset>
		<fieldset>
			<legend>訂購人資訊:</legend>
			<div>
				<label>姓名:</label> <input type="text">
			</div>
			<div>
				<label>連絡電話:</label> <input type="tel">
			</div>
			<div>
				<label>E-Mail:</label> <input type="email">
			</div>
		</fieldset>
		<fieldset>
			<legend>收件人資訊:</legend>
			<div>
				<input type="checkbox">同訂購人資料
			</div>
			<div>
				<label>姓名:</label> <input type="text">
			</div>
			<div>
				<label>連絡電話:</label> <input type="tel">
			</div>
			<div>
				<label>E-Mail:</label> <input type="email">
			</div>
			<div>
				<label>收件地址:</label> <input type="text">
			</div>
			<div>
				<label>配送時間:</label> <select>
					<option>不限時</option>
					<option>上午 08:00~13:00</option>
					<option>下午 14:00~18:00</option>
				</select>
			</div>
		</fieldset>
		<button type="button">上一步</button>
		<button type="button">下一步</button>
	</div>
</body>
</html>