<!DOCTYPE html>
<html lang="en">

<head>
    <title>DayDayGo!</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="../style/main.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body>
    <!-- start of footer -->
    <div class="contaminer-fluid" style="margin: 0">
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li><img src="../images/social/facebook.png"> <a href="#">Facebook</a></li>
                        <li><img src="../images/social/instagram.png"> <a href="#">Instagram</a></li>
                        <li><img src="../images/social/line.png"> <a href="#">LINE</a></li>
                        <li><img src="../images/social/linkedin.png"> <a href="#"> Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<!-- SweetAlert -->
</body>

</html>