<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- main CSS -->
    <link rel="stylesheet" href="../style/form.css">
	
	<link rel="Shortcut Icon" type="image/x-icon" href="images/others/icon.png" />
    <title>會員註冊</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
</head>

<body>
	
    <form> <img src="../images/form-cat.png"
        />
        <h2>還不是會員？加入我們吧!</h2>

        <input name="email" placeholder="電子郵件" required/>
        <span class="errorMsg" id="errorAccount"></span>
        <input type="password" name="password" placeholder="輸入密碼" />
        <span class="errorMsg" id="errorPassword"></span>
        <input type="password" name="repassword" placeholder="密碼確認" />
<!--         // 設定密碼欄位必須由大寫字母、小寫字母、數字與 !@#$%!^'" 等四組資料組合而成，且長度不能小於八個字元 -->
        <!--  required pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*\W).{8,}$"-->
        
        <input name="name" placeholder="姓名" required/>                                                                                
        <div class="feedback"></div>
        <input id="register" class="button" type="button" value="Register">
        <p class="message">Already registered? <a href="form_login.html">Sign In</a></p>

    </form>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    
    <script>
    $("#register").click(function(e){

        var mail = $("[name = 'email']").val();
        var password = $("[name = 'password']").val();
        var repassword = $("[name = 'repassword']").val();
        var name = $("[name = 'name']").val();
        
//      var combie = {"account":mail,"name":name , "password":password};
//      var json   = JSON.stringify(combie);
//      alert(json) ;
		
		if (password == repassword){
			$("#errorAccount").html("")
			$("#errorPassword").html("")
			
			$.ajax({
	            type: "post",
	            url : "/TeamWork/RegisterServlet",
	            data: {"m_account":mail,"m_name":name , "m_password":password,"m_mail":mail},
	            success: function(data) {
	            	$("#errorAccount").html("")
	    			$("#errorPassword").html("")
	    			
	            	if(data=="accountNull"){
	            		$("#errorAccount").html("請輸入欄位")
	            	}
	            	if(data=="existsAccount"){
	            		$("#errorAccount").html("此帳號已被使用")
	            	}
	            	if(data=="passwordNull"){
	            		$("#errorPassword").html("密碼必須包含大寫字母、小寫字母、數字與特殊字元，且長度不能小於八個字元")
	            	}
	            	if(data == mail){
	            		alert("導到登入畫面?驗證畫面?自動登入?")
	            	}
	                
	            }
	        });
		} else {
			$("#errorPassword").html("請輸入相同密碼")
		}

        
    })
    </script>
    
</body>

</html>