<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- main CSS -->
    <link rel="stylesheet" href="../style/form.css">

    <link rel="Shortcut Icon" type="image/x-icon" href="images/others/icon.png" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!--google登入用-->
    <meta name="google-signin-client_id" content='225653973483-ni23q4pk96dskb6ebku50s6o4omss7vq.apps.googleusercontent.com'>
    <!--google登入用-->
    <title>會員註冊</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
</head>

<body>

    <form> <img src="../images/form-cat.png" />
        <h2>還不是會員？加入我們吧!</h2>

        <input name="email" placeholder="AccountID" required />
        <span class="errorMsg" id="errorAccount"></span>
        <input type="password" name="password" placeholder="輸入密碼" />
        <span class="errorMsg" id="errorPassword"></span>
        <input type="password" name="repassword" placeholder="密碼確認" />
        <!--         // 設定密碼欄位必須由大寫字母、小寫字母、數字與 !@#$%!^'" 等四組資料組合而成，且長度不能小於八個字元 -->
        <!--  required pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*\W).{8,}$"-->

        <input name="name" placeholder="姓名" required />
        <div class="feedback"></div>
        <input id="register" class="button" type="button" value="Register">
        <input id="Login" class="button" type="button" value="FACEBOOK註冊" onclick="FBlogin()" style="background-color: #4267b2">
<!--         <input id="Login" class="button" type="button" value="GOOGLE登入" data-onsuccess="onSignIn" -->
<!--             style="background-color: #f45151"> -->
        <p class="message">Already registered? <a href="form_login.html">Sign In</a></p>

        <!--    <fb:login-button scope="public_profile,email"
    		onlogin="checkLoginState();"
    		auto_logout_link="true"
    		size="large"
    		show_faces="false">
        </fb:login-button> facebook 按钮 -->
        <!-- <div class="fb-login-button" 
        onlogin="FBlogin();"
        data-max-rows="1" 
        data-size="large" 
        data-button-type="login_with" 
        data-show-faces="false" 
        data-auto-logout-link="true" 
        data-use-continue-as="false"></div> -->
        <!--<div id="status"></div> 登陸狀態顯示 -->
        <!-- google 登入按鈕 -->
        <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-width="250"></div> -->
        <!-- google 登出按鈕-->
        <!-- <a class="g-signout2" href="#" onclick="signOut();">Sign out</a> -->
    </form>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="../js/Register.js"></script>
    <script src="../js/OAuthRegister.js"></script>
    <!-- <script src="../js/cookies.js"></script> -->


</body>

</html>