<!doctype html>
<html lang="en">

<head>
    <title>限時團購-搜尋</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a>
                        <a class="dropdown-item" href="#">限時團購</a>
                        <a class="dropdown-item" href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div><!-- end of container -->
    </div>
    <div class="container">
        <div class="row">
            <section class="col-lg-2">
                <form class="select-filter">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">評價</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1顆星以上</option>
                            <option>2顆星以上</option>
                            <option>3顆星以上</option>
                            <option>4顆星以上</option>
                            <option>5顆星</option>
                        </select>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">價格範圍</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="$ 最大值">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="$ 最小值">
                            <button type="submit" class="btn btn-outline-warning filter-button btn-sm">套用</button>
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    fa-star-score
                </form><!-- end of form.select-filter -->
            </section>
            <section class="col-lg-10">
                <div class="row row-card">
                    <div class="col-lg-3">
                        <!-- <a href="test.html"> -->
                        <div class="card card-search">
                            <img class="card-img-top" src="../images/product/001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                        </div>
                        <!-- </a> -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="../images/product/001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                                        aria-valuemin="0" aria-valuemax="100">65%</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100">40%</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-search">
                            <img class="card-img-top" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">SHINBA 職人口罩</h5>
                                <p class="card-text">「過濾、舒適、美觀」全面革新的好口罩！今年冬天必備單品＋聖誕節送禮首選，把“最乾淨的呼吸”送給你最在乎的人～ </p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                        aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> <!-- end of container -->
    
    <div class="contaminer-fluid"><!-- start of footer -->
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li>
                            <img src="../images/social/facebook.png">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <img src="../images/social/instagram.png">
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <img src="../images/social/line.png">
                            <a href="#">LINE</a>
                        </li>
                        <li>
                            <img src="../images/social/linkedin.png">
                            <a href="#">
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>