<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>

    <title>限時團購-搜尋</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- <link href="./datecss/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"> -->
    <!-- jQuery first -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="index.html">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="wish-search.html"><i class="fas fa-star icon"></i>許願池
                        Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="groupBuying-search.html"><i class="fas fa-gift icon"></i>限時團購
                        Together</a></li>
                <li class="nav-item"><a class="nav-link" href="storeProduct-search.html"><i class="fas fa-store icon"></i>購物商城
                        Shopping store</a></li>
            </ul>

            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="display:none">
                        <i class="fas fa-plus icon"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#WishModalCenter">許願</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#GrouponModalCenter">開團</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#StoreModalCenter">開店</a>
                    </div>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="membernotice" href="userPage_Notifications.html" style="display:none">
                        <i class="fas fa-bell icon"></i>會員通知
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="form_login.html" name="MemberLogin">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                    <a class="nav-link" href="userPage_profile.html" name="MemberName" style="display:none">
                        <i class="fas fa-user-circle icon"></i><span name="spanMemberName">會員名稱</span>
                    </a>
                </li>
                <li class="nav-item">
                    <input class="nav-link" type="button" value="logout" id="MemberLogout" style="display:none" />
                </li>
            </ul>
        </div>
    </nav>
    <!-- Modal 開店彈出的視窗-->
    <div class="modal fade" id="StoreModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">商城</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">商品名稱</label>
                        <input type="text" class="form-control" name="StoreProductName" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">商品內容</label>
                        <textarea class="form-control" name="StoreProductContext" rows="3"></textarea>
                    </div>
                    商品類別
                    <select class="custom-select form-group" name='StoreProductSort1'>
                        <option value="0">商品類別</option>
                        <option value="1">女生衣著</option>
                        <option value="2">男生衣著</option>
                        <option value="3">美妝保健</option>
                        <option value="4">手機平板與周邊</option>
                        <option value="5">嬰幼童與母親</option>
                        <option value="6">3C</option>
                        <option value="7">居家生活</option>
                        <option value="8">家電影音</option>
                        <option value="9">女生配件</option>
                        <option value="10">男生包包與配件</option>
                        <option value="11">女鞋</option>
                        <option value="12">男鞋</option>
                        <option value="13">女生包包/精品</option>
                        <option value="14">戶外與運動用品</option>
                        <option value="15">美食、伴手禮</option>
                        <option value="16">汽機車零件百貨</option>
                        <option value="17">寵物</option>
                        <option value="18">娛樂、收藏</option>
                        <option value="19">服務、票券</option>
                        <option value="20">遊戲王</option>
                        <option value="21">其他類別</option>
                    </select>
                    <select class="custom-select" class="form-group" name=addSort>
                        <option value="0">--請選擇--</option>
                    </select>
                    <div class="form-group">
                        <label for="formGroupExampleInput">商品數量</label>
                        <input type="text" class="form-control" name="StoreProductAmount" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">商品單價</label>
                        <input type="text" class="form-control" name="StoreProductPrice" placeholder="Example input">
                    </div>
                    運送方式
                    <!--可為空就預設-->
                    <select class="custom-select" id="Transport" multiple>
                        <option>全家</option>
                        <option>7-11</option>
                        <option>萊爾富</option>
                        <option>中華郵政</option>
                        <option>賣家宅配</option>
                    </select>
                    全新
                    <!--可為空就預設true-->
                    <select class="custom-select" class="form-group" id="isNew">
                        <option selected>是否全新</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    商品圖片
                    <div class="custom-file" class="form-group">
                        <form id="StoremyForm">
                            <input type="text" name="inputstr" value="Store" style="display: none">
                            <input type="text" name="te" style="display: none">
                            <input type="file" name="file" id="Storeinput_file" class="custom-file-input" onchange="imgPreview(this)"
                                required multiple="multiple" style="bottom:23px; cursor: pointer">
                            <label class="custom-file-label" for="validatedCustomFile">請上傳多張商品圖片...</label>
                            <img id="Storepreview" src="" />
                            <label>請上傳多張商品圖片...</label>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="StoreProductClick">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 開團彈出的視窗-->
    <div class="modal fade" id="GrouponModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">開團</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">開團名稱</label>
                        <input type="text" class="form-control" name="GrouponName" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">商品內容</label>
                        <textarea class="form-control" name="StoreProductContext" rows="3"></textarea>
                    </div>
                    開團類別
                    <select class="custom-select form-group" name='GrouponSort1'>
                        <option value="0">商品類別</option>
                        <option value="1">女生衣著</option>
                        <option value="2">男生衣著</option>
                        <option value="3">美妝保健</option>
                        <option value="4">手機平板與周邊</option>
                        <option value="5">嬰幼童與母親</option>
                        <option value="6">3C</option>
                        <option value="7">居家生活</option>
                        <option value="8">家電影音</option>
                        <option value="9">女生配件</option>
                        <option value="10">男生包包與配件</option>
                        <option value="11">女鞋</option>
                        <option value="12">男鞋</option>
                        <option value="13">女生包包/精品</option>
                        <option value="14">戶外與運動用品</option>
                        <option value="15">美食、伴手禮</option>
                        <option value="16">汽機車零件百貨</option>
                        <option value="17">寵物</option>
                        <option value="18">娛樂、收藏</option>
                        <option value="19">服務、票券</option>
                        <option value="20">遊戲王</option>
                        <option value="21">其他類別</option>
                    </select>
                    <select class="custom-select" class="form-group" name="addSort">
                        <option value="0">--請選擇--</option>
                    </select>
                    <div class="form-group">
                        <label for="formGroupExampleInput">開團商品數量</label>
                        <input type="text" class="form-control" name="GrouponAmount" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">單品價格</label>
                        <input type="text" class="form-control" name="GrouponPrice" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">更新版本</label>
                        <input type="text" class="form-control" name="GrouponVersion" value="1">
                    </div>
                    商品圖片
                    <div class="custom-file" class="form-group">
                        <form id="GroupmyForm">
                            <input type="text" name="inputstr" value="Group" style="display: none">
                            <input type="text" name="te" style="display: none">
                            <input type="file" name="file" id="Groupinput_file" class="custom-file-input" onchange="imgPreview(this)"
                                required multiple="multiple" style="bottom:23px ;cursor: pointer">
                            <label class="custom-file-label" for="validatedCustomFile">請上傳多張商品圖片...</label>
                            <img id="Grouppreview" src="" />
                            <label>請上傳多張商品圖片...</label>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="GrouponClick">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 許願彈出的視窗-->
    <div class="modal fade" id="WishModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">許願</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">許願標題</label>
                        <input type="text" class="form-control" name="Wishlabel" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">許願內容</label>
                        <textarea class="form-control" name="WishContext" rows="3"></textarea>
                    </div>
                    許願地區
                    <select class="custom-select" class="form-group" id="wisharea" name="addarea">
                        <option value="0">--請選擇--</option>
                    </select>
                    終止日
                    <!-- <input size="16" type="text" value="2018-06-15" name="enddate" id="datetimepicker" readonly class="form_datetime"> -->
                    <input type="date" name="enddate" value="2018-11-22" min="2018-11-22"/>
                    <div class="form-group">
                        <label for="formGroupExampleInput">許願商品</label>
                        <input type="text" class="form-control" name="WishName" placeholder="Example input">
                    </div>
                    商品類別
                    <select class="custom-select form-group" name='WishSort1'>
                        <option value="0">商品類別</option>
                        <option value="1">女生衣著</option>
                        <option value="2">男生衣著</option>
                        <option value="3">美妝保健</option>
                        <option value="4">手機平板與周邊</option>
                        <option value="5">嬰幼童與母親</option>
                        <option value="6">3C</option>
                        <option value="7">居家生活</option>
                        <option value="8">家電影音</option>
                        <option value="9">女生配件</option>
                        <option value="10">男生包包與配件</option>
                        <option value="11">女鞋</option>
                        <option value="12">男鞋</option>
                        <option value="13">女生包包/精品</option>
                        <option value="14">戶外與運動用品</option>
                        <option value="15">美食、伴手禮</option>
                        <option value="16">汽機車零件百貨</option>
                        <option value="17">寵物</option>
                        <option value="18">娛樂、收藏</option>
                        <option value="19">服務、票券</option>
                        <option value="20">遊戲王</option>
                        <option value="21">其他類別</option>
                    </select>
                    <select class="custom-select" class="form-group" id="addWishSort" name="addSort">
                        <option value="0">--請選擇--</option>
                    </select>
                    <div class="form-group">
                        <label for="formGroupExampleInput">商品數量</label>
                        <input type="text" class="form-control" name="WishAmount" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">接受價格_底</label>
                        <input type="text" class="form-control" name="WishPriceBottom" placeholder="Example input">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">接受價格_頂</label>
                        <input type="text" class="form-control" name="WishPriceTop" placeholder="Example input">
                    </div>
                    商品圖片
                    <div class="custom-file" class="form-group">
                        <form id="WishmyForm">
                            <input type="text" name="inputstr" value="Wish" style="display: none">
                            <input type="text" name="te" id="wishpic" style="display: none">
                            <input type="file" name="file" id="Wishinput_file" class="custom-file-input" onchange="imgPreview(this)"
                                required multiple="multiple" style="bottom:23px ;cursor: pointer">
                            <label class="custom-file-label" for="validatedCustomFile">請上傳多張商品圖片...</label>
                            <img id="Wishpreview" src="" />
                            <label>請上傳多張商品圖片...</label>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="WishClick">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="belowNavbar">
        <div class="container">
            <form method="GET" action="/TeamWork/search">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
                            <option value="wish" class="dropdown-item">許願池</option>
                            <option value="groupon" class="dropdown-item">限時團購</option>
                            <option value="store" class="dropdown-item">購物商城</option>
                        </select>
                    </div>
                    <input name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
    <!-- <div id="footer"></div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <meta name="google-signin-client_id" content='225653973483-ni23q4pk96dskb6ebku50s6o4omss7vq.apps.googleusercontent.com'>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};HandleGoogleApiLibrary()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
    <script src="../js/Logout.js"></script>
    <script src="../js/cookies.js"></script>
    <script src="../js/AddProduct.js"></script>


</body>

</html>