<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Go Go Buy Managemnet System!</title>
  <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <!-- main CSS -->
  <link rel="stylesheet" href="../style/back.css">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

</head>

<body translate="no">

  <div class="header">
    <a href="#" id="menu-action">
      <i class="fa fa-bars"></i>
      <span>Close</span>
    </a>
    <div class="logo">Day Day Go System!</div>
  </div>
  <div class="sidebar">
    <ul>
      <li><a href="manager-overview.html"><i class="fa fa-desktop"></i><span>首頁公告欄</span></a></li>
      <li><a href="manage-chat.html"><i class="fa fa-server"></i><span>客服諮詢</span></a></li>
      <li><a href="manage-requisition.html"><i class="fa fa-calendar"></i><span>申請單據處理</span></a></li>
      <li><a href="manage-report.html"><i class="fa fa-envelope-o"></i><span>營業報表</span></a></li>
      <li><a href="#"><i class="fa fa-table"></i><span>其他</span></a></li>
  </div>

  <!-- Content -->
  <div class="main">
    <div class="hipsum">
      <div class="jumbotron">
        <h1 id="hello,-world!">申請單據處理<a class="anchorjs-link" href="#hello,-world!"><span class="anchorjs-icon"></span></a></h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
          content or information.</p>
        <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
      </div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">未處理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">處理中</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">已處理</a>
        </li>
      </ul>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>時間</th>
            <th>單據號碼</th>
            <th>被檢舉者</th>
            <th>檢舉人</th>
            <th>附檔</th>
            <th>審核</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2018/05/05</td>
            <td>A055689</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>A055689</td>
            <td>2018/05/05</td>
            <td>神咪小皮果</td>
            <td>暗黑小迷果</td>
            <td>截圖.pdf</td>
            <td>已處理</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <p>Slow-carb fanny pack yr Brooklyn gentrify. Fanny pack keffiyeh taxidermy, ugh viral polaroid craft beer. +1
        distillery Truffaut typewriter tousled crucifix, lo-fi butcher normcore skateboard. Drinking vinegar ugh
        whatever sriracha. Synth tofu viral
        butcher flexitarian. 3 wolf moon Schlitz plaid small batch kale chips blog. Fingerstache selfies freegan,
        Helvetica Neutra Brooklyn semiotics cred narwhal beard tousled leggings.</p>
      <div class="row">
        <div class="col-sm-6">
          <p>Slow-carb fanny pack yr Brooklyn gentrify. Fanny pack keffiyeh taxidermy, ugh viral polaroid craft beer.
            +1 distillery Truffaut typewriter tousled crucifix, lo-fi butcher normcore skateboard. Drinking vinegar ugh
            whatever sriracha. Synth tofu
            viral butcher flexitarian. 3 wolf moon Schlitz plaid small batch kale chips blog. Fingerstache selfies
            freegan, Helvetica Neutra Brooklyn semiotics cred narwhal beard tousled leggings.</p>
        </div>
        <div class="col-sm-6">
          <p>Slow-carb fanny pack yr Brooklyn gentrify. Fanny pack keffiyeh taxidermy, ugh viral polaroid craft beer.
            +1 distillery Truffaut typewriter tousled crucifix, lo-fi butcher normcore skateboard. Drinking vinegar ugh
            whatever sriracha. Synth tofu
            viral butcher flexitarian. 3 wolf moon Schlitz plaid small batch kale chips blog. Fingerstache selfies
            freegan, Helvetica Neutra Brooklyn semiotics cred narwhal beard tousled leggings.</p>
        </div>
      </div>
    </div>
  </div>

  <script src='https//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="../js/back.js"></script>
</body>

</html>