<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>購物車</title>
</head>
<body>
	<div>
		<fieldset>
			<form action="#" method="POST">
				<div>
					<h2>購物車</h2>
				</div>
				<div>
					<div>
						<img class="productImage" src="">
					</div>
					<div>
						<p class="sP_name">product name</p>
						<p class="sP_price">product price</p>
					</div>
					<div>
						<input class="orderAmount" type="number">
					</div>
					<div>
						<input type="button" name="delete" value="刪除">
					</div>
				</div>
				<div>
					<div>
						<img class="productImage" src="">
					</div>
					<div>
						<p class="sP_name">product name</p>
						<p class="sP_price">product price</p>
					</div>
					<div>
						<input class="orderAmount" type="number">
					</div>
					<div>
						<input type="button" name="delete" value="刪除">
					</div>
				</div>
				<div>
					<div>
						<img class="productImage" src="">
					</div>
					<div>
						<p class="sP_name">product name</p>
						<p class="sP_price">product price</p>
					</div>
					<div>
						<input class="orderAmount" type="number">
					</div>
					<div>
						<input type="button" name="delete" value="刪除">
					</div>
				</div>
				<div>
					<h3 id="totalPrice">total price</h3>
				</div>
				<div>
					<input type="button" name="deleteAll" value="刪除全部">
				</div>
				<div>
					<button type="button">繼續購物</button>
					<input type="submit" name="check" value="結帳">
				</div>
			</form>
		</fieldset>
	</div>
</body>
</html>