<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜訊息通知</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <div id="header"></div>
    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
             Button trigger modal 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a>
                        <a class="dropdown-item" href="#">限時團購</a>
                        <a class="dropdown-item" href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div> end of container 
    </div>-->
    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2">
                <div class="user-page-brief">
                    <a class="user-page-brief_avatar" href="#">
                        <div class="user-avatar_placeholder">
                            <img src="../images/user/account/profile/001.png" alt="">
                        </div>
                    </a>
                    <div class="user-page-brief_right">
                        <div class="user-page-brief__username">jennifer8306</div>
                        <div><a class="user-page-brief__edit" href="/user/account/profile/"><i class="fas fa-pen"></i>編輯個人簡介</a></div>
                    </div>
                </div>
                <div class="userpage-sidebar-menu">

                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Man.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的帳戶</div>
                    </a>
                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user//Checklist.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">購買清單</div>
                    </a>
                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Medal.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的成就</div>
                    </a>
                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Love-Letter.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">通知記錄</div>
                    </a>
                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Analytics.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">販賣清單</div>
                    </a>
                </div>
            </div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <div class="purchase-list-page_tab col-sm-4" id="oder1">訊息分類 A</div>
                    <div class="purchase-list-page_tab col-sm-4" id="oder5">訊息分類 B</div>
                    <div class="purchase-list-page_tab col-sm-4" id="oder5">訊息分類 C</div>
                </div>
                <div class="row">
                    <div class="container-wrapper">
                        <div class="noti-card">
                            <div class="noti-card-img">
                                <img src="../images/user/noti/001.svg">
                            </div>
                            <div class="noti-card-detail">
                                <div class="noti-card-detail_title">商品已送達</div>
                                <div class="noti-card-detail_text">會員XXX的訂單已完成</div>
                                <div class="noti-card-detail_date">31-10-2018 19:32</div>
                            </div>
                            <div class="btn btn-sm order_btn">詳細資訊</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end of container -->

    <!-- Optional JavaScript -->
    <script>
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
            // =========jquery的include
            $(document).ready(function () {
                console.log("看看有沒有跑INCLUDE")
                $.get("header.html", function (data) {
                    $("#header").html(data);
                });
            })
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- <script src="../js/cookies.js"></script> -->
    <script>
        //===================CookieToJson=======================
        function cookieToJson() {
            let cookieArr = document.cookie.split(";");
            let obj = {}
            cookieArr.forEach((i) => {
                let arr = i.split("=");
                obj[arr[0]] = arr[1];
            });
            return obj
        }
        $(document).ready(function () {
            var json = cookieToJson();
            var cookieAccount = json['email'];
            console.log(cookieAccount);
            $.ajax({
                type: "POST",
                url: "/TeamWork/ReadStoreOrderState",
                data: { "account": cookieAccount },
                //                 dataType: 'application/json; charset=utf-8',
                //                 contentType : 'application/json; charset=utf-8',
                async: false,
                success: function (response) {
                    console.log(response)

                    for(let k in response){
                        var element = `
                        <div class="noti-card">
                            <div class="noti-card-img">
                                <img src="../images/user/noti/001.svg">
                            </div>
                            <div class="noti-card-detail">
                                <div class="noti-card-detail_title">${response[k].sO_pay}</div>
                                <div class="noti-card-detail_text">訂單待出貨</div>
                                <div class="noti-card-detail_date">31-10-2018 19:32</div>
                            </div>
                            <div class="btn btn-sm order_btn">詳細資訊</div>
                        </div>
                        `
                        alert(k)
                        alert(response[k].sO_stateId)

                        $("[class='container-wrapper']").append(
                            element
                        );

                    }

                },
                error: function (response) {
                    var jsons = JSON.stringify(response);
                    alert("noticeMVC傳回失敗 = " + jsons);
                }
            })
        })
    </script>

</body>

</html>