<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜購買清單-商店</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <div id="header"></div>
    <div id="header-search"></div>

    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2" id="slidebar">
            </div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <!-- <div class="purchase-list-page_tab col-sm-2 tab_lock" id="state0">全部</div> -->
                    <div class="purchase-list-page_tab col-sm-3 tab_lock" id="state16">待出貨</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state17">配送中</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state18">待付款/收貨</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state19">完成</div>
                    <!-- <div class="purchase-list-page_tab col-sm-2" id="state20">取消</div> -->
                </div>
                <div class="row">
                    <div class="container-wrapper">
                        <div class="empty">
                            <img src="../images/user/others/loading.gif">
                            <p>LOADING...</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end of container -->
    <!-- start of footer -->
    <div class="contaminer-fluid" id="footer">
    </div>
    <!-- end of footer -->

    <!-- 新增評價(互動視窗) -->
    <!-- Modal -->
    <div class="modal fade" id="giveAssess" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">給予評價</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="popperForm" id="giveAssess_form" method="post" action="/TeamWork/giveAssess.do">
                    <div class="modal-body">
                        <div id="wrapper">
                            <div class="form-group">
                                <label class="col-form-label">分數：</label>

                                <input type="radio" id="star1" name="sA_pointAssess" value="1" />
                                <label for="star1"><i class="fas fa-star AssessStar" id="forStar1"></i></label>

                                <input type="radio" id="star2" name="sA_pointAssess" value="2" />
                                <label for="star2"><i class="fas fa-star AssessStar" id="forStar2"></i></label>

                                <input type="radio" id="star3" name="sA_pointAssess" checked="checked" value="3" />
                                <label for="star3"><i class="fas fa-star AssessStar" id="forStar3"></i></label>

                                <input type="radio" id="star4" name="sA_pointAssess" value="4" />
                                <label for="star4"><i class="far fa-star AssessStar" id="forStar4"></i></label>

                                <input type="radio" id="star5" name="sA_pointAssess" value="5" />
                                <label for="star5"><i class="far fa-star AssessStar" id="forStar5"></i></label>
                            </div>
                        </div>
                        <textarea class="form-control" id="message-text" placeholder="評價" name="sA_contextAssess"></textarea>
                        <input type="hidden" name="sO_id" value="" id="sO_id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-sm userSubmitBtn" id="AssessSubmitBtn">送出評價</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- end of 新增評價(互動視窗) -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.0/sweetalert2.all.min.js"></script>
    <!-- optional script -->
    <script src="../js/userPage.js"></script>
    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function () {
            $.get("header.html", function (data) {
                $("#header").html(data);
            });
            $.get("header-search.html", function (data) {
                $("#header-search").html(data);
            });
            $.get("footer.html", function (data) {
                $("#footer").html(data);
            });
            $.get("userPage_slidebar.html", function (data) {
                $("#slidebar").html(data);
            });
        })
    </script>
    <script>
        var userID = 1;
        $(document).ready(function () {
            if (document.cookie.split("mid=").length == 2) {
                userID = document.cookie.split("mid=")[1].split(";")[0]
            } else {
                userID = "";
                window.history.pushState("", "page 2", "userPage_StoreOrderList.html")
                window.location.href = "form_login.html";
            }
            var dataurl = "/TeamWork/StoreOrderList?m_idOrder=" + userID;
            var userData = [];
            var state = 16;

            //下載資料
            loadData();

            function loadData() {
                $.ajax({
                    url: dataurl,
                    error: function () {
                        console.log("載入失敗")
                    },
                    success: function (res) {
                        console.log("載入資料")
                        userData = res
                        // 更新畫面中的元素
                        updateData()
                        loadMemberData(userID)
                    }
                })
            }

            function updateData() {
                $(".container-wrapper").html("");
                console.log("state=" + state);
                userData.forEach(function (item) {
                    if (state == 16 && state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        console.log("append:16");
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 17 && state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        console.log("append:17");
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 18 && state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="確認收貨" class="btn order_btn confirmReceive" id="confirmReceive${item.sO_id}">
                                                <input type="button" value="詳細資訊" class="btn order_btn" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        console.log("append:18");
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 19 && state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="給予評價" class="btn order_btn StartAssessBtn" data-toggle="modal" data-target="#giveAssess" name="${item.sO_id}">
                                                <input type="button" value="詳細資訊" class="btn order_btn" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        console.log("append:19");
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 20 && state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        console.log("append:20");
                        $(".container-wrapper").append(itemEl);
                    }
                });
                //如果沒有東西可以顯示就顯示插圖
                if ($(".container-wrapper").html() == "") {
                    initData();
                }

                //給予評價按鈕click事件
                $(".StartAssessBtn").click(function () {
                    var sO_id = $(this).attr("name");
                    $("input#sO_id").val(sO_id);
                });

                //評價表單submit事件(AJAX)
                $("#giveAssess_form").on('submit', function () {
                    $.ajax({
                        type: "POST",
                        url: "/TeamWork/giveAssess_StoreBuyer",
                        data: $(this).serialize(),
                        success: function () {
                            swal({
                                title: '成功！',
                                text: '您更新了一個評價！',
                                type: 'success',
                                confirmButtonText: '太好了！',
                                confirmButtonColor: '#525abb'
                            })
                            $("#giveAssess").css("display", "none");
                            //關閉互動視窗
                            $("button.close").click();
                            $("#giveAssess_form").find(":text,textarea").each(function () {
                                //清空表單所有欄位
                                $(this).val("");
                            });
                        }
                    });
                    return false; //阻止form submit
                });

                //確認收貨按鈕
                $(".confirmReceive").click(function () {
                    var sO_id = $(this).attr("id").replace("confirmReceive", "")
                    $.ajax({
                        type: "POST",
                        url: "/TeamWork/confirmReceive_Store",
                        data: { "sO_id": sO_id },
                        success: function (response) {
                            swal({
                                title: '成功！',
                                text: '恭喜您取得商品，不要忘了給予評價喔！',
                                type: 'success',
                                confirmButtonText: '太好了！',
                                confirmButtonColor: '#525abb'
                            })
                            loadData();
                        }
                    });
                });
            }//end of updateData()
            function initData() {
                var emptyEl = $(`
                            <div class="empty">
                                <img src="../images/user/others/empty_order.svg">
                                <p>這裡什麼都沒有耶</p>
                                <p>要不要去買些東西呢？</p>
                            </div>
                        `)
                console.log("initData")
                $(".container-wrapper").append(emptyEl);
            }
            $(".purchase-list-page_tab").click(function (e) {
                $(".tab_lock").removeClass("tab_lock");
                $(this).addClass("tab_lock");
                var changeState = $(this).text();
                switch (changeState) {
                    case "待出貨":
                        state = 16;
                        break;
                    case "配送中":
                        state = 17;
                        break;
                    case "待付款/收貨":
                        state = 18;
                        break;
                    case "完成":
                        state = 19;
                        break;
                    // case "取消":
                    //     state = 20;
                    //     break;
                }
                updateData();
            });
        });
    </script>
</body>

</html>