<!doctype html>
<html lang="en">

<head>
	<title>會員中心｜我的帳戶</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">

	<!-- main CSS -->
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/userPage.css">
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">


</head>

<body>
	<!-- header -->
	<div id="header"></div>
	<!-- header-search -->
	<div id="header-search"></div>

	<div class="container">
		<div class="row">
			<div class="user-page-slidebar col-lg-2">
				<div class="user-page-brief">
					<a class="user-page-brief_avatar" href="userPage_profile.html">
						<div class="user-avatar_placeholder">
							<img id="member_pic" src="">
						</div>
					</a>
					<div class="user-page-brief_right">
						<div class="user-page-brief__username" id="member_username"></div>
						<div class="user-page-brief__coin">
							<img src="../images/user/others/coin.png" style="display: inline-block;">
							<span id="member_coin"></span>
						</div>
					</div>
				</div>
				<!-- start of userpage-sidebar-menu -->
				<div class="userpage-sidebar-menu">
					<a href="userPage_profile.html" class="userpage-sidebar-menu_item-head">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Man.svg"></div>
						<div class="userpage-sidebar-menu-text">我的帳戶</div>
					</a>
					<div class="userpage-sidebar-menu_item-head" id="storepbtn">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Shop.svg"></div>
						<div class="userpage-sidebar-menu-text">商店</div>
					</div>
					<a href="userPage_StoreProductList.html" class="userpage-sidebar-menu_item storepbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">我的商品</div>
					</a>
					<a href="userPage_StoreOrderSellerList.html" class="userpage-sidebar-menu_item storepbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">商品訂單</div>
					</a>
					<a href="userPage_StoreOrderList.html" class="userpage-sidebar-menu_item storepbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">購買的商品</div>
					</a>
					<div class="userpage-sidebar-menu_item-head" id="wishpbtn">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Ring.svg"></div>
						<div class="userpage-sidebar-menu-text">許願</div>
					</div>
					<a href="userPage_WishList.html" class="userpage-sidebar-menu_item wishpbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">我的許願</div>
					</a>
					<a href="userPage_WishOrderList.html" class="userpage-sidebar-menu_item wishpbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">許願訂單</div>
					</a>
					<a href="userPage_WishOrderSellerList.html" class="userpage-sidebar-menu_item wishpbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">實現願望</div>
					</a>
					<div class="userpage-sidebar-menu_item-head" id="groupbtn">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Party.svg"></div>
						<div class="userpage-sidebar-menu-text">團購</div>
					</div>
					<a href="userPage_GroupList.html" class="userpage-sidebar-menu_item groupbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">我的開團</div>
					</a>
					<a href="userPage_GroupSellerList.html" class="userpage-sidebar-menu_item groupbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">開團訂單</div>
					</a>
					<a href="userPage_GroupOrderList.html" class="userpage-sidebar-menu_item groupbtn">
						<div class="userpage-sidebar-menu-icon"><img></div>
						<div class="userpage-sidebar-menu-text">跟團</div>
					</a>
					<a href="userPage_medal.html" class="userpage-sidebar-menu_item-head">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Medal.svg"></div>
						<div class="userpage-sidebar-menu-text">我的成就</div>
					</a>
					<a href="userPage_notifications.html" class="userpage-sidebar-menu_item-head">
						<div class="userpage-sidebar-menu-icon"><img src="../images/user/Love-Letter.svg"></div>
						<div class="userpage-sidebar-menu-text">通知記錄</div>
					</a>
					<!-- <a href="userPage_sellerVerify.html" class="userpage-sidebar-menu_item">
                            <div class="userpage-sidebar-menu-icon"><img src="../images/user/Analytics.svg"></div>
                            <div class="userpage-sidebar-menu-text">賣家中心</div>
                        </a> -->
				</div>
				<!-- end of userpage-sidebar-menu -->
			</div>

			<div class="user-page_wrapper col-lg-10">
				<div class="my-account_header">
					<h2>我的檔案</h2>
					<span>管理您的檔案以保護你的帳戶</span>
				</div>
				<div class="my-account_content">
					<div class="my-account-profile_left">
						<form id="my-account_form">
							<input type="hidden" name="m_id" value="">
							<div class="form-group row">
								<label for="mem_name" class="col-sm-3 col-form-label">姓名</label>
								<div class="col-sm-9">
									<input type="text" readonly class="form-control userInput" id="m_name" name="m_name" placeholder="請輸入姓名">
								</div>
							</div>
							<div class="form-group row">
								<label for="mem_acc" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="text" readonly class="form-control userInput" id="m_mail" name="m_mail" value="" placeholder="請輸入Email">
								</div>
							</div>
							<div class="form-group row">
								<label for="mem_tel" class="col-sm-3 col-form-label">手機號碼</label>
								<div class="col-sm-9">
									<input type="text" readonly class="form-control userInput" id="m_telephone" name="m_telephone" value=""
									 placeholder="請輸入手機號碼">
								</div>
							</div>
							<div class="form-group row">
								<label for="mem_add" class="col-sm-3 col-form-label">地址</label>
								<div class="col-sm-9">
									<input type="text" readonly class="form-control userInput" id="m_address" name="m_address" value=""
									 placeholder="請輸入地址">
								</div>
							</div>
							<div class="btn-row" style="text-align:center">
								<input type="button" id="editUserDataBtn" class="btn btn-sm userSubmitBtn" value="編輯資料" />
								<button type="submit" id="updateUserDataBtn" class="btn btn-sm userSubmitBtn" style="display:none">確認更新</button>
							</div>
						</form>
					</div>

					<div class="my-account-profile_right">
						<div class="avatar-uploader__avatar">
							<img src="../images/user/account/profile/001.png">
						</div>
						<div class="btn-row">
							<label class="btn btn-sm userSubmitBtn">
								<input id="selectProfile" type="file" name="file" required>
								上傳圖片
							</label>
							<input type="button" id="submitProfile" class="btn btn-sm userSubmitBtn" value="確認上傳">
						</div>
						<div class="avatar-uploader_text">檔案大小:最大1MB</div>
						<div class="avatar-uploader_text">檔案限制: .JPEG, .PNG</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end of container -->
	<!-- start of footer -->
	<div class="contaminer-fluid">
		<div class="container">
			<div class="row">
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">關注我們</div>
					<ul class="footer-category-list">
						<li>
							<img src="../images/social/facebook.png">
							<a href="#">Facebook</a>
						</li>
						<li>
							<img src="../images/social/instagram.png">
							<a href="#">Instagram</a>
						</li>
						<li>
							<img src="../images/social/line.png">
							<a href="#">LINE</a>
						</li>
						<li>
							<img src="../images/social/linkedin.png">
							<a href="#">
								Linkedin</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- end of footer -->


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../js/userPage.js"></script>
	<script>
		$(document).ready(function () {
			$.get("header.html", function (data) {
				$("#header").html(data);
			});
			$.get("header-search.html", function (data) {
				$("#header-search").html(data);
			});
		})
	</script>
	<!-- Optional JavaScript -->
	<script>
		var userID = 1;
		$(document).ready(function () {
			if (document.cookie.split("mid=").length == 2) {
				userID = document.cookie.split("mid=")[1].split(";")[0]
			} else {
				window.location.href = "form_login.html";
			}
			var dataurl = "/TeamWork/Member?m_id=" + userID;
			var userData = [];

			//下載所有資料
			$.ajax({
				url: dataurl,
				error: function () {
					console.log("載入會員資料失敗")
				},
				success: function (res) {
					console.log("載入會員資料")
					userData = res
					// 更新畫面中的元素
					updateUserData()
					updateMemberData(userData)
				}
			})

			function updateUserData() {
				$(".user-page-brief__username").text(userData.account);
				$(".avatar-uploader__avatar>img").attr("src", defaultUserPic(userData.m_photo));
				$("#m_name").val(userData.m_name);
				$("#m_mail").val(userData.m_mail);
				$("#m_telephone").val(userData.m_telephone);
				$("#m_address").val(userData.m_address);
			}

			$("#editUserDataBtn").click(function () {
				$("#updateUserDataBtn").css("display", "inline-block")
				$("#editUserDataBtn").css("display", "none")
				$(".userInput").attr("readonly", false)
			});

			//使用者頭貼選擇檔案後預覽
			$("#selectProfile").on('change', function (event) {
				var files = event.target.files;
				var image = files[0];
				// here's the file size
				var reader = new FileReader();
				reader.onload = function (file) {
					var img = new Image();
					img.src = file.target.result;
					$(".avatar-uploader__avatar").html(img);
				}
				reader.readAsDataURL(image);
			});

			//上傳使用者頭貼click事件
			$("#submitProfile").click(function () {
				var formData = new FormData();
				formData.append('files', $('#selectProfile')[0].files[0]);
				console.log("上傳使用者頭貼");
				$.ajax({
					type: "POST",
					url: "/TeamWork/UpdateAccountImage?m_id=" + userID,
					data: formData,
					processData: false,
					contentType: false,
					success: function () {
						alert("success!");
						$("#member_pic").attr("src", $(".avatar-uploader__avatar>img").attr("src"));
					}
				});
			});

			//個人資料更新確認更新按鈕click事件
			$("#my-account_form").on('submit', function () {
				alert("#my-account_form")
				$.ajax({
					type: "POST",
					url: "/TeamWork/EditMyAccountData",
					data: $(this).serialize(),
					success: function () {
						alert("success!")
						$("#editUserDataBtn").css("display", "inline-block")
						$("#updateUserDataBtn").css("display", "none")
						$(".userInput").attr("readonly", true)
					},
					error: function () {
						alert("error!")
						$("#editUserDataBtn").css("display", "inline-block")
						$("#updateUserDataBtn").css("display", "none")
						$(".userInput").attr("readonly", true)
					}
				});
				return false; //阻止form submit
			});
		});
	</script>
</body>

</html>