<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜我的成就</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a>
                        <a class="dropdown-item" href="#">限時團購</a>
                        <a class="dropdown-item" href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div><!-- end of container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2">
                <div class="user-page-brief">
                    <a class="user-page-brief_avatar" href="#">
                        <div class="user-avatar_placeholder">
                            <img src="../images/user/account/profile/001.png" alt="">
                        </div>
                    </a>
                    <div class="user-page-brief_right">
                        <div class="user-page-brief__username">jennifer8306</div>
                        <div><a class="user-page-brief__edit" href="/user/account/profile/"><i class="fas fa-pen"></i>編輯個人簡介</a></div>
                    </div>
                </div>
                <div class="userpage-sidebar-menu">
                    <a href="userPage_profile.html" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Man.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的帳戶</div>
                    </a>
                    <a href="userPage_StoreOrdrList.html" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user//Checklist.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">購買清單</div>
                    </a>
                    <a href="userPage_medal.html" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Medal.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的成就</div>
                    </a>
                    <a href="" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Love-Letter.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">通知記錄</div>
                    </a>
                    <a href="userPage_sellerVerify.html" class="userpage-sidebar-menu_item">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Analytics.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">賣家中心</div>
                    </a>
                </div>
            </div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <div class="purchase-list-page_tab col-sm-3" id="state0">成就列表</div>
                    <div class="purchase-list-page_tab col-sm-3 tab_lock" id="state6">進行中</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state7">已達成</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state8">已領取</div>
                </div>
                <div class="row">
                    <div class="container-wrapper">
                        <div class="empty">
                            <a href="#"><img src="../images/user/others/empty.svg"></a>
                            <p>這裡什麼都沒有耶</p>
                            <p>趕快來達成成就吧！</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end of container -->
    <!-- start of footer -->
    <div class="contaminer-fluid">
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li>
                            <img src="../images/social/facebook.png">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <img src="../images/social/instagram.png">
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <img src="../images/social/line.png">
                            <a href="#">LINE</a>
                        </li>
                        <li>
                            <img src="../images/social/linkedin.png">
                            <a href="#">
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>F
    <!-- Optional JavaScript -->
    <script>F
        $(document).ready(function () {
            //定義要用到的網址
            var userID = "1";
            var dataurl = "/TeamWork/UserMedal?m_id=" + userID;
            var dataurl2 = "/TeamWork/AllAchievement";
            var userData = [];
            var userData2 = [];
            var state = 6;
            loadData();
            function loadData(){
            //下載資料
            $.ajax({
                url: dataurl,
                error: function () {
                    console.log("載入失敗")
                },
                success: function (res) {
                    userData = res
                    console.log("載入資料" + userData.length)
                    updateData()
                }
            })
            $.ajax({
                url: dataurl2,
                error: function () {
                    console.log("載入失敗")
                },
                success: function (res) {
                    userData2 = res
                    console.log("載入資料" + userData2.length)
                }
            })
            }
            function updateData() {
                if (state == 0) {
                    Task();
                } else {
                    $(".container-wrapper").html("");
                    userData.forEach(function (item) {
                        if (state == item.cA_stateId) {
                            var amount = parseInt(item.cA_amount);
                            console.log("parseInt(item.cA_amount)=" + amount);
                            var total = parseInt(item.achievement.a_amount);
                            console.log("parseInt(item.achievement.a_amount)=" + total);
                            var number = (amount / total * 100).toFixed();
                            var itemEl = $(`
                                <div class="medal-card flag${item.cA_stateId}" id="${item.cA_id}">
                                    <div class="medal-img">
                                        <img src="../images/user/medal/${item.a_id}.svg">
                                    </div>
                                    <div class="medal-detail">
                                        <div class="progress" style="height: 20px;">
                                            <div class="progress-bar" style="width: ${number}%;">${number}%</div>
                                        </div>
                                        <div class="medal-detail-text">
                                            <div class="medal-name">${item.achievement.a_context}</div>
                                            <div class="progress-text">${item.cA_amount}/${item.achievement.a_amount}</div>
                                        </div>
                                    </div>
                                </div>
                            `)
                            $(".container-wrapper").append(itemEl);
                        }

                    });
                    $(".flag7").click(function () {
                        var cA_id = $(this).attr("id");
                        alert(cA_id);
                        //window.location.href = "/TeamWork/claimPrize?cA_id="+cA_id;
                        $.ajax({
                            type: "POST",
                            url: "/TeamWork/claimPrize",
                            data: { "cA_id": cA_id },
                            success: function (response) {
                                alert("success!");
                                loadData();
                            }
                        });


                    });

                    if ($(".container-wrapper").html() == "") {
                        initData();
                    }
                }
            }
            function initData() {
                var emptyEl = `
                    <div class="empty">
                        <a href="#"><img src="../images/user/others/empty.svg"></a>
                        <p>這裡什麼都沒有耶</p>
                        <p>趕快來達成成就吧！</p>
                    </div>
                `
                $(".container-wrapper").append(emptyEl);
            }
            function Task() {
                if (userData2.length > 0) {
                    $(".container-wrapper").html("");
                    $(".container-wrapper").append("<div class='row container-wrapper-row'></div>");
                    userData2.forEach(function (item) {
                        var initEl = `
                            <div class="col-lg-6">
                                <div class="medal-init-card">
                                    <div class="medal-img">
                                        <img src="../images/user/medal/${item.a_id}.svg">
                                    </div>
                                    <div class="init-detail-text">
                                        <div class="medal-init-detail-text">${item.a_context}</div>
                                        <img class="medal-coin-img" src="../images/user/others/coin.png">
                                        <span class="medal-coin-text">${item.a_bonus}元</span>
                                    </div>
                                </div>
                            </div>
                        `
                        $(".container-wrapper-row").append(initEl);
                    });
                } else {
                    $(".container-wrapper").html("");
                    initData();
                }

            }

            $(".purchase-list-page_tab").click(function (e) {
                var changeState = $(this).text();
                $(".tab_lock").removeClass("tab_lock");
                $(this).addClass("tab_lock");
                switch (changeState) {
                    case "已領取":
                        state = 8;
                        break;
                    case "已達成":
                        state = 7;
                        break;
                    case "進行中":
                        state = 6;
                        break;
                    case "成就列表":
                        state = 0;
                }
                updateData();
            });

        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>