<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜購買清單-團購</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a></li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a> <a class="dropdown-item" href="#">限時團購</a> <a class="dropdown-item"
                            href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
        <!-- end of container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2">
                <div class="user-page-brief">
                    <a class="user-page-brief_avatar" href="#">
                        <div class="user-avatar_placeholder">
                            <img src="../images/user/account/profile/001.png" alt="">
                        </div>
                    </a>
                    <div class="user-page-brief_right">
						<div class="user-page-brief__username">jennifer8306</div>
						<!-- <div>
							<a class="user-page-brief__edit" href="/user/account/profile/"><i class="fas fa-pen"></i>編輯個人簡介</a>
						</div> -->
						<div class="user-page-brief__coin">
							<img src="../images/user/others/coin.png" style="display: inline-block;">
							<span>100</span>
						</div>
					</div>
                </div>
                <!-- start of userpage-sidebar-menu -->
                <div class="userpage-sidebar-menu">
                    <a href="userPage_profile.html" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Man.svg"></div>
                        <div class="userpage-sidebar-menu-text">我的帳戶</div>
                    </a>
                    <div class="userpage-sidebar-menu_item-head" id="storepbtn">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Shop.svg"></div>
                        <div class="userpage-sidebar-menu-text">商店</div>
                    </div>
                    <a href="userPage_StoreProductList.html" class="userpage-sidebar-menu_item storepbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">我的商品</div>
                    </a>
                    <a href="userPage_StoreOrderSellerList.html" class="userpage-sidebar-menu_item storepbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">商品訂單</div>
                    </a>
                    <a href="userPage_StoreOrderList.html" class="userpage-sidebar-menu_item storepbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">購買的商品</div>
                    </a>
                    <div class="userpage-sidebar-menu_item-head" id="wishpbtn">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Ring.svg"></div>
                        <div class="userpage-sidebar-menu-text">許願</div>
                    </div>
                    <a href="userPage_WishList.html" class="userpage-sidebar-menu_item wishpbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">我的許願</div>
                    </a>
                    <a href="userPage_WishOrderList.html" class="userpage-sidebar-menu_item wishpbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">許願訂單</div>
                    </a>
                    <a href="userPage_WishOrderSellerList.html" class="userpage-sidebar-menu_item wishpbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">實現願望</div>
                    </a>
                    <div class="userpage-sidebar-menu_item-head" id="groupbtn">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Party.svg"></div>
                        <div class="userpage-sidebar-menu-text">團購</div>
                    </div>
                    <a href="userPage_GroupList.html" class="userpage-sidebar-menu_item groupbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">我的開團</div>
                    </a>
                    <a href="userPage_GroupSellerList.html" class="userpage-sidebar-menu_item groupbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">開團訂單</div>
                    </a>
                    <a href="userPage_GroupOrderList.html" class="userpage-sidebar-menu_item groupbtn">
                        <div class="userpage-sidebar-menu-icon"><img></div>
                        <div class="userpage-sidebar-menu-text">跟團</div>
                    </a>
                    <a href="userPage_medal.html" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Medal.svg"></div>
                        <div class="userpage-sidebar-menu-text">我的成就</div>
                    </a>
                    <a href="userPage_notifications.html" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon"><img src="../images/user/Love-Letter.svg"></div>
                        <div class="userpage-sidebar-menu-text">通知記錄</div>
                    </a>
                    <!-- <a href="userPage_sellerVerify.html" class="userpage-sidebar-menu_item">
                            <div class="userpage-sidebar-menu-icon"><img src="../images/user/Analytics.svg"></div>
                            <div class="userpage-sidebar-menu-text">賣家中心</div>
                        </a> -->
                </div>
                <!-- end of userpage-sidebar-menu -->
            </div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <div class="purchase-list-page_tab col-sm-3 tab_lock" id="state55">待出貨</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state56">配送中</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state57">待收貨</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state58">完成</div>
                </div>
                <div class="row">
                    <div class="container-wrapper">
                        <div class="empty">
                            <img src="../images/user/others/loading.gif">
                            <p>LOADING...</p>
                        </div>
                    </div>
            	</div>
        	</div>
    	</div>
    <!-- 新增願望單據(互動視窗) -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增許願單</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="popperForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">標題：</label> <input type="text" class="form-control"
                                id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">詳細描述：</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">價錢範圍：</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn userSubmitBtn">新增願望</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- 測試互動視窗的按鈕 -->
    <!-- <input type="button" value="給予評價" class="btn order_btn" data-toggle="modal" data-target="#giveAssess"> -->
    <!-- end of container -->
    <!-- start of footer -->
    <div class="contaminer-fluid">
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li><img src="../images/social/facebook.png"> <a href="#">Facebook</a></li>
                        <li><img src="../images/social/instagram.png"> <a href="#">Instagram</a></li>
                        <li><img src="../images/social/line.png"> <a href="#">LINE</a></li>
                        <li><img src="../images/social/linkedin.png"> <a href="#"> Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer -->

    <!-- 新增評價(互動視窗) -->
    <!-- Modal -->
    <div class="modal fade" id="giveAssess" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">給予評價</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="popperForm" id="giveAssess_form" method="post">
                    <div class="modal-body">
                        <div id="wrapper">
                            <div class="form-group">
                                <label class="col-form-label">分數：</label>

                                <input type="radio" id="star1" name="gA_pointAssess" value="1" />
                                <label for="star1"><i class="fas fa-star AssessStar" id="forStar1"></i></label>

                                <input type="radio" id="star2" name="gA_pointAssess" value="2" />
                                <label for="star2"><i class="fas fa-star AssessStar" id="forStar2"></i></label>

                                <input type="radio" id="star3" name="gA_pointAssess" checked="checked" value="3" />
                                <label for="star3"><i class="fas fa-star AssessStar" id="forStar3"></i></label>

                                <input type="radio" id="star4" name="gA_pointAssess" value="4" />
                                <label for="star4"><i class="far fa-star AssessStar" id="forStar4"></i></label>

                                <input type="radio" id="star5" name="gA_pointAssess" value="5" />
                                <label for="star5"><i class="far fa-star AssessStar" id="forStar5"></i></label>
                            </div>
                        </div>
                        <textarea class="form-control" id="message-text" placeholder="評價" name="gA_contextAssess"></textarea>
                        <input type="hidden" name="gO_id" value="" id="gO_id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-sm userSubmitBtn" id="AssessSubmitBtn">送出評價</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- end of 新增評價(互動視窗) -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../js/userPage.js"></script>

    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function () {
            var userID = "1";
            var dataurl = "/TeamWork/GroupOrderList?m_idOrder=" + userID;
            var userData = [];
            var state = 55;
            //下載資料
            loadData();
            function loadData() {
                console.log(dataurl);
                $.ajax({
                    url: dataurl,
                    error: function () {
                        console.log("載入失敗")
                    },
                    success: function (res) {
                        console.log("載入資料")
                        userData = res
                        // 更新畫面中的元素
                        updateData()
                    }
                })
            }
            function updateData() {
                $(".container-wrapper").html("");
                userData.forEach(function (item) {
                    //待出貨 & 配送中
                    if ((state == 55 || state == 56) && state == item.gO_stateId) {
                        var itemEl = $(`
                            <div class="myWish-card" id="${item.gO_id}">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.member.m_name}</div>
                                    </div>
                                    <div class="wish-dataRange">${dateFormat(item.gO_time)}
                                    </div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.groupProduct.gP_name}</div>
                                                <div class="item-des">${replaceRN(item.groupProduct.gP_context)}</div>
                                                <span class="wish-priceRange">$${item.gO_sumPrice}</span>
                                            </div>
                                            <div class="btn-group-vertical">
                                                <input type="button" value="聯絡賣家" class="btn order_btn">
                                                <input type="button" value="詳細資訊" class="btn order_btn hrefUrl">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                        //待收貨
                    } else if ((state == 57) && state == item.gO_stateId) {
                        var itemEl = $(`
                                <div class="myWish-card" id="${item.gO_id}">
                                    <div class="order-content_header row">
                                        <div class="order-content-header_left">
                                            <div class="seller-pic">
                                                <img src="../images/user/account/profile/001.png">
                                            </div>
                                            <div class="seller-name">${item.member.m_name}</div>
                                        </div>
                                        <div class="wish-dataRange">${dateFormat(item.gO_time)}
                                        </div>
                                    </div>
                                    <div class="order-content_item row">
                                        <div class="item-image">
                                        </div>
                                        <div class="item-detail col-lg">
                                            <div class="item-misc">
                                                <div class="misc">
                                                    <div class="item-name">${item.groupProduct.gP_name}</div>
                                                    <div class="item-des">${replaceRN(item.groupProduct.gP_context)}</div>
                                                    <span class="wish-priceRange">$${item.gO_sumPrice}</span>
                                                </div>
                                                <div class="btn-group-vertical">
                                                    <input type="button" value="確認收貨" class="btn order_btn confirmReceive" id="confirmReceive${item.gO_id}">
                                                    <input type="button" value="詳細資訊" class="btn order_btn hrefUrl">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `)
                        $(".container-wrapper").append(itemEl);
                        // 完成
                    } else if ((state == 58) && state == item.gO_stateId) {
                        var itemEl = $(`
                                <div class="myWish-card" id="${item.gO_id}">
                                    <div class="order-content_header row">
                                        <div class="order-content-header_left">
                                            <div class="seller-pic">
                                                <img src="../images/user/account/profile/001.png">
                                            </div>
                                            <div class="seller-name">${item.member.m_name}</div>
                                        </div>
                                        <div class="wish-dataRange">${dateFormat(item.gO_time)}
                                        </div>
                                    </div>
                                    <div class="order-content_item row">
                                        <div class="item-image">
                                        </div>
                                        <div class="item-detail col-lg">
                                            <div class="item-misc">
                                                <div class="misc">
                                                    <div class="item-name">${item.groupProduct.gP_name}</div>
                                                    <div class="item-des">${replaceRN(item.groupProduct.gP_context)}</div>
                                                    <span class="wish-priceRange">$${item.gO_sumPrice}</span>
                                                </div>
                                                <div class="btn-group-vertical">
                                                    <input type="button" value="給予評價" class="btn order_btn StartAssessBtn" data-toggle="modal" data-target="#giveAssess" name="${item.gO_id}">
                                                    <input type="button" value="詳細資訊" class="btn order_btn hrefUrl">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `)
                        $(".container-wrapper").append(itemEl);
                    }
                });
                //如果沒有東西可以顯示就顯示插圖
                if ($(".container-wrapper").html() == "") {
                    initData();
                }
                //詳細資訊按鈕的click事件 轉向詳細資料的頁面
                $(".hrefUrl").click(function () {
                    var hrefUrl = "test.html"
                    document.location.href = hrefUrl;
                });

                //給予評價按鈕click事件
                $(".StartAssessBtn").click(function () {
                    console.log("給予評價按鈕click事件");
                    var gO_id = $(this).attr("name");
                    $("input#gO_id").val(gO_id);
                });

                //評價表單submit事件(AJAX)
                $("#giveAssess_form").on('submit', function () {
                    console.log("評價表單submit");
                    $.ajax({
                        type: "POST",
                        url: "/TeamWork/giveAssess.do",
                        data: $(this).serialize(),
                        success: function () {
                            $("#giveAssess").css("display", "none");
                            //關閉互動視窗
                            $("button.close").click();
                            $("#giveAssess_form").find(":text,textarea").each(function () {
                                //清空表單所有欄位
                                $(this).val("");
                            });
                        }
                    });
                    return false; //阻止form submit
                });
                //確認收貨按鈕
                $(".confirmReceive").click(function () {
                    var gO_id = $(this).attr("id").replace("confirmReceive","")
                    alert(gO_id);
                    $.ajax({
                        type: "POST",
                        url: "/TeamWork/confirmReceive_Group",
                        data: { "gO_id": gO_id },
                        success: function () {
                            alert("success!");
                            loadData();
                        }
                    });
                });
            }// end of updateData()


            //預設顯示插圖
            function initData() {
                var emptyEl = $(`
                            <div class="empty">
                                <img src="../images/user/others/empty_order.svg">
                                <p>這裡什麼都沒有耶</p>
                                <p>要不要去團購些什麼呢？</p>
                            </div>
                        `)
                $(".container-wrapper").append(emptyEl);
            }

            //依照頁籤更改狀態代號
            $(".purchase-list-page_tab").click(function (e) {
                $(".tab_lock").removeClass("tab_lock");
                $(this).addClass("tab_lock");
                var changeState = $(this).text();
                switch (changeState) {
                    case "待出貨":
                        state = 55;
                        break;
                    case "配送中":
                        state = 56;
                        break;
                    case "待收貨":
                        state = 57;
                        break;
                    case "完成":
                        state = 58;
                        break;
                    default:
                        state = 55;
                }
                updateData();
            });
        });// end of $(document).ready()
    </script>
</body>

</html>