<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜我的商品</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

</head>

<body>
    <!-- header -->
    <div id="header"></div>
    <!-- header-search -->
    <div id="header-search"></div>

    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2" id="slidebar"></div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <div class="purchase-list-page_tab2 col-sm-4 tab_lock2" id="state13">有現貨</div>
                    <div class="purchase-list-page_tab2 col-sm-4" id="state14">待補貨</div>
                    <div class="purchase-list-page_tab2 col-sm-4" id="state15">已下架</div>
                </div>
                <div class="row">
                    <div class="container-wrapper-seller">
                        <div class="empty">
                            <img src="../images/user/others/loading.gif">
                            <p>LOADING...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end of container -->
    <!-- start of footer -->
    <div class="contaminer-fluid" id="footer">
    </div>
    <!-- end of footer -->

    <!-- 編輯商店商品(互動視窗) -->
    <!-- Modal edit StoreProduct -->
    <div class="modal fade" id="editStoreProduct" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">編輯我的商品</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="popperForm" id="editStoreProduct_form" method="post" action="/TeamWork/EditStoreProduct" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="sP_id" value="" id="sP_id_input" />
                        <div class="modal-form-group row">
                            <label for="sP_name" class="col-sm-2 modal-label">商品名稱：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="sP_name" name="sP_name" placeholder="編輯商品名稱">
                            </div>
                            <label for="sP_price" class="col-sm-2 modal-label">商品價格：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="sP_price" name="sP_price" placeholder="編輯商品價格">
                            </div>
                        </div>
                        <div class="modal-form-group row">
                            <label for="sP_context" class="col-sm-2 modal-label">商品內容：</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="sP_context" name="sP_context" placeholder="編輯商品內容"></textarea>
                            </div>
                        </div>
                        <div class="modal-form-group row">
                            <label for="pp_id" class="col-sm-2 modal-label">商品類別：</label>
                            <div class="col-sm-4">
                                <select class="custom-select" name='pp_id' id="pp_id">
                                    <option value="0" disabled selected>請選擇商品類別一</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="custom-select" class="form-group" id="p_id" name="p_id">
                                    <option value="0" disabled selected>請選擇商品類別二</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-form-group row mt-1">
                            <label for="sP_amount" class="col-sm-2 modal-label">庫存數量：</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="sP_amount" name="sP_amount" placeholder="100">
                            </div>
                            <label for="sP_new" class="col-sm-2 modal-label">是否新品：</label>
                            <div class="col-sm-1">
                                <input type="radio" class="form-control" name="sP_new" value="true" id="sP_new_true">
                            </div>
                            <div class="col-sm-1">
                                <span style="font-weight: normal">是</span>
                            </div>
                            <div class="col-sm-1">
                                <input type="radio" class="form-control" name="sP_new" value="false" id="sP_new_false">
                            </div>
                            <div class="col-sm-1">
                                <span style="font-weight: normal">否</span>
                            </div>
                        </div>
                        <div class="modal-form-group row">
                            <label for="sP_transport" class="col-sm-2 modal-label">運送方式：</label>
                            <div class="col-sm-4">
                                <select class="custom-select" size="3" id="sP_transport" name="sP_transport">
                                    <option value="全家">全家</option>
                                    <option value="7-11">7-11</option>
                                    <option value="萊爾富">萊爾富</option>
                                    <option value="中華郵政">中華郵政</option>
                                    <option value="賣家宅配">賣家宅配</option>
                                </select>
                            </div>
                            <label for="storeImages" class="col-sm-2 modal-label">商品圖片：</label>
                            <div class="col-sm-4">
                                <input type="file" class="form-control-file" id="storeImages" name="storeImages">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-sm userSubmitBtn" id="EditStoreProductSubmitBtn">確定送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../js/userPage.js"></script>
    <script>
        $(document).ready(function () {
            $.get("header.html", function (data) {
                $("#header").html(data);
            });
            $.get("header-search.html", function (data) {
                $("#header-search").html(data);
            });
            $.get("footer.html", function (data) {
                $("#footer").html(data);
            });
            $.get("userPage_slidebar.html", function (data) {
                $("#slidebar").html(data);
            });
        })
    </script>
    <!-- Optional JavaScript -->
    <script>
        var userID = 1;
        $(document).ready(function () {
            if (document.cookie.split("mid=").length == 2) {
                userID = document.cookie.split("mid=")[1].split(";")[0]
            } else {
                userID = "";
                window.history.pushState("", "page 2", "userPage_StoreProductList.html")
                window.location.href = "form_login.html";
            }
            LoadProdSelector()
            var dataurl = "/TeamWork/StoreProductSellerListByM_id?m_id=" + userID;
            var userData = [];
            var state = 13;
            //下載資料
            loadData();
            function loadData() {
                console.log(dataurl);
                $.ajax({
                    url: dataurl,
                    error: function () {
                        console.log("載入失敗")
                    },
                    success: function (res) {
                        console.log("載入資料")
                        userData = res
                        updateData()
                        loadMemberData(userID);
                    }
                })
            }
            function updateData() {
                console.log("執行updateData")
                $(".container-wrapper-seller").html("");
                var tableEl = $(`
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col">圖片</th>
                                <th scope="col">商品名稱</th>
                                <th scope="col">售價</th>
                                <th scope="col">庫存</th>
                                <th scope="col">管理</th>
                            </tr>
                        </thead>
                        <tbody id="sellerTableBody"></tbody>
                    </table>
                `)
                $(".container-wrapper-seller").append(tableEl);

                if (userData.length != 0) {
                    userData.forEach(function (item) {
                        console.log("ueserData.forEach")
                        //有現貨
                        if ((state == 13) && state == item.sP_stateId) {
                            var itemEl = $(`
	                           <tr>
	                                <td>
	                                    <img class="storeSellerTable-img" src="../images/user/product/001.jpg">
	                                </td>
	                                <td>${item.sP_name}</td>
	                                <td>${item.sP_price}</td>
	                                <td>${item.sP_amount}</td>
	                                <td>
                                        <div class="btn-group">
                                            <input type="button" class="btn btn-sm btn-outline-info" value="查看詳細" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            <input type="button" class="btn btn-sm btn-outline-info editBtn" value="重新編輯商品" data-toggle="modal" data-target="#editStoreProduct" name="${item.sP_id}">
                                        </div>
	                                </td>
	                            </tr>
	                        `)
                            $("#sellerTableBody").append(itemEl);
                        } else if ((state == 14) && state == item.sP_stateId) {
                            var itemEl = $(`
	                           <tr>
	                                <td>
	                                    <img class="storeSellerTable-img" src="../images/user/product/001.jpg">
	                                </td>
	                                <td>${item.sP_name}</td>
	                                <td>${item.sP_price}</td>
	                                <td>${item.sP_amount}</td>
	                                <td>
	                                    <div class="btn-group">
	                                        <input type="button" class="btn btn-sm btn-outline-info" value="查看詳細" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            <input type="button" class="btn btn-sm btn-outline-info editBtn" value="重新編輯商品" data-toggle="modal" data-target="#editStoreProduct" name="${item.sP_id}">
                                        </div>
	                                </td>
	                            </tr>
	                        `)
                            $("#sellerTableBody").append(itemEl);
                        } else if ((state == 15) && state == item.sP_stateId) {
                            var itemEl = $(`
	                           <tr>
	                                <td>
	                                    <img class="storeSellerTable-img" src="../images/user/product/001.jpg">
	                                </td>
	                                <td>${item.sP_name}</td>
	                                <td>${item.sP_price}</td>
	                                <td>${item.sP_amount}</td>
	                                <td>
	                                    <div class="btn-group">
                                            <input type="button" class="btn btn-sm btn-outline-info" value="查看詳細" onclick="javascript:location.href='product-detail.html?sP_id=${item.sP_id}'">
                                            <input type="button" class="btn btn-sm btn-outline-info editBtn" value="重新編輯商品" data-toggle="modal" data-target="#editStoreProduct" name="${item.sP_id}">
                                        </div>
	                                </td>
	                            </tr>
	                        `)
                            $("#sellerTableBody").append(itemEl);
                        }

                    });

                    //編輯商品按鈕click事件
                    $(".editBtn").click(function () {
                        var storeProductId = $(this).attr("name")
                        $("#sP_id_input").val(storeProductId)
                        $.ajax({
                            url: "/TeamWork/StoreProduct?sP_id=" + storeProductId,
                            error: function () {
                                console.log("載入StoreProduct資料失敗")
                            },
                            success: function (res) {
                                console.log("載入StoreProduct資料成功")
                                $("#sP_name").val(res.sP_name);
                                $("#sP_context").val(res.sP_context);
                                $("#sP_amount").val(res.sP_amount);
                                $("#sP_price").val(res.sP_price);
                                $("#pp_id").val(res.product.product.p_id);
                                updateProdSecondtData(res.product.product.p_id)
                                $("#p_id").val(res.p_id);
                                $("#sP_new_" + res.sP_new).attr("checked", "checked")
                                //$("#storeImages").val(res.storeImages);
                            }
                        })
                    });

                    //商品編輯表單確定送出click事件
                    $("#EditStoreProductSubmitBtn").click(
                        function () {
                            var formData = new FormData($('#editStoreProduct_form')[0]);
                            alert(formData)
                            // formData.append('files', $('#selectProfile')[0].files[0]);
                            // formData.append('m_id', userID);
                            console.log("商品編輯表單送出");
                            $.ajax({
                                type: "POST",
                                url: "/TeamWork/EditStoreProduct",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function () {
                                    swal({
                                        title: '成功！',
                                        text: '您成功更新了您的商品',
                                        type: 'success',
                                        confirmButtonText: '太好了！',
                                        confirmButtonColor: '#525abb'
                                    })
                                    loadData();
                                },
                                error: function(){
                                    console.log("更新商品資料失敗")
                                }
                            });
                        });
                }

                //如果沒有東西可以顯示就顯示插圖
                if ($("#sellerTableBody").html() == "") {
                    initData();
                }
            }// end of updateData()


            //預設顯示插圖
            function initData() {
                var emptyEl = $(`
                    <div class="empty">
                        <img src="../images/user/others/empty_order.svg">
                        <p>這裡什麼都沒有耶</p>
                        <p>要不要上架些商品呢？</p>
                    </div>
                `)
                $(".container-wrapper-seller").html("").append(emptyEl);
            }

            //依照頁籤更改狀態代號
            $(".purchase-list-page_tab2").click(function (e) {
                $(".tab_lock2").removeClass("tab_lock2");
                $(this).addClass("tab_lock2");
                var changeState = $(this).text();
                switch (changeState) {
                    case "有現貨":
                        state = 13;
                        break;
                    case "待補貨":
                        state = 14;
                        break;
                    case "已下架":
                        state = 15;
                        break;
                    default:
                        state = 13;
                }
                updateData();
            });


        });// end of $(document).ready()
    </script>
</body>

</html>