<!doctype html>
<html lang="en">

<head>
    <title>會員中心｜購買清單-商店</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/userPage.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a>
                        <a class="dropdown-item" href="#">限時團購</a>
                        <a class="dropdown-item" href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div><!-- end of container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="user-page-slidebar col-lg-2">
                <div class="user-page-brief">
                    <a class="user-page-brief_avatar" href="#">
                        <div class="user-avatar_placeholder">
                            <img src="../images/user/account/profile/001.png" alt="">
                        </div>
                    </a>
                    <div class="user-page-brief_right">
                        <div class="user-page-brief__username">jennifer8306</div>
                        <div><a class="user-page-brief__edit" href="/user/account/profile/"><i class="fas fa-pen"></i>編輯個人簡介</a></div>
                    </div>
                </div>
                <!-- start of userpage-sidebar-menu -->
                <div class="userpage-sidebar-menu">
                    <a href="userPage_profile.html" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Man.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的帳戶</div>
                    </a> <a href="#" class="userpage-sidebar-menu_item-head" id="storepbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Shop.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">商店</div>
                    </a> <a href="userPage_StoreOrdrList.html" class="userpage-sidebar-menu_item storepbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">我的商品</div>
                    </a> <a href="userPage_WishOrdrList.html" class="userpage-sidebar-menu_item storepbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">購買的商品</div>
                    </a> <a href="#" class="userpage-sidebar-menu_item-head" id="wishpbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Ring.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">許願</div>
                    </a> <a href="userPage_StoreOrdrList.html" class="userpage-sidebar-menu_item wishpbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">我的許願</div>
                    </a> <a href="userPage_WishOrdrList.html" class="userpage-sidebar-menu_item wishpbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">實現願望</div>
                    </a> <a href="#" class="userpage-sidebar-menu_item-head" id="groupbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Party.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">團購</div>
                    </a> <a href="userPage_StoreOrdrList.html" class="userpage-sidebar-menu_item groupbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">我的開團</div>
                    </a> <a href="userPage_GroupOrderList.html" class="userpage-sidebar-menu_item groupbtn">
                        <div class="userpage-sidebar-menu-icon">
                            <img>
                        </div>
                        <div class="userpage-sidebar-menu-text">跟團</div>
                    </a> <a href="userPage_GroupOrderList.html" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Medal.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">我的成就</div>
                    </a> <a href="" class="userpage-sidebar-menu_item-head">
                        <div class="userpage-sidebar-menu-icon">
                            <img src="../images/user/Love-Letter.svg">
                        </div>
                        <div class="userpage-sidebar-menu-text">通知記錄</div>
                    </a>
                    <!-- <a href="userPage_sellerVerify.html" class="userpage-sidebar-menu_item">
                            <div class="userpage-sidebar-menu-icon">
                                <img src="../images/user/Analytics.svg">
                            </div>
                            <div class="userpage-sidebar-menu-text">賣家中心</div>
                        </a> -->
                </div>
                <!-- end of userpage-sidebar-menu -->
            </div>
            <div class="purchase-list-page_tabs-container col-lg-10">
                <div class="row">
                    <!-- <div class="purchase-list-page_tab col-sm-2 tab_lock" id="state0">全部</div> -->
                    <div class="purchase-list-page_tab col-sm-2 tab_lock" id="state16">待出貨</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state17">配送中</div>
                    <div class="purchase-list-page_tab col-sm-3" id="state18">待付款/收貨</div>
                    <div class="purchase-list-page_tab col-sm-2" id="state19">完成</div>
                    <div class="purchase-list-page_tab col-sm-2" id="state20">取消</div>
                </div>
                <div class="row">
                    <div class="container-wrapper">
                        <div class="empty">
                            <img src="../images/user/others/loading.gif">
                            <p>LOADING...</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- end of container -->
    <!-- start of footer -->
    <div class="contaminer-fluid">
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li>
                            <img src="../images/social/facebook.png">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <img src="../images/social/instagram.png">
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <img src="../images/social/line.png">
                            <a href="#">LINE</a>
                        </li>
                        <li>
                            <img src="../images/social/linkedin.png">
                            <a href="#">
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="../js/userPage.js"></script>

    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function () {
            //定義要用到的網址
            var userID = "2";
            var dataurl = "/TeamWork/StoreOrderList?m_idOrder=" + userID;
            var userData = [];
            var state = 16;
            //下載資料
            $.ajax({
                url: dataurl,
                error: function () {
                    console.log("載入失敗")
                },
                success: function (res) {
                    console.log("載入資料")
                    userData = res
                    // 更新畫面中的元素
                    updateData()
                }
            })

            function updateData() {
                $(".container-wrapper").html("");
                userData.forEach(function (item) {
                    if (state == 16 || state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn">
                                                <input type="button" value="聯絡賣家" class="btn order_btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 17 || state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn">
                                                <input type="button" value="聯絡賣家" class="btn order_btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 18 || state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="確認收貨" class="btn order_btn">
                                                <input type="button" value="詳細資訊" class="btn order_btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                    } else if (state == 19 || state == item.sO_stateId) {
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="給予評價" class="btn order_btn">
                                                <input type="button" value="詳細資訊" class="btn order_btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                    }else if(state == 20 || state == item.sO_stateId){
                        var itemEl = $(`
                            <div class="order-card">
                                <div class="order-content_header row">
                                    <div class="order-content-header_left">
                                        <div class="seller-pic">
                                            <img src="../images/user/account/profile/001.png">
                                        </div>
                                        <div class="seller-name">${item.storeProduct.store.s_name}</div>
                                    </div>
                                    <div class="order-content-header_right"></div>
                                </div>
                                <div class="order-content_item row">
                                    <div class="item-image">
                                    </div>
                                    <div class="item-detail col-lg">
                                        <div class="item-misc">
                                            <div class="misc">
                                                <div class="item-name">${item.storeProduct.sP_name}</div>
                                                <span class="total">$ ${item.sO_sumPrice}</span>
                                                <span class="singlePrice">單價 $ ${item.storeProduct.sP_price} 數量 ${item.sO_amount}</span>
                                            </div>                                      
                                            <div class="btn-group-vertical">
                                                <input type="button" value="詳細資訊" class="btn order_btn">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `)
                        $(".container-wrapper").append(itemEl);
                    }
                    if($(".container-wrapper").html()==""){
                    	initData();
                    }
                    
                });
            }
            function initData() {
                var emptyEl = $(`
                            <div class="empty">
                                <img src="../images/user/others/empty_order.svg">
                                <p>這裡什麼都沒有耶</p>
                                <p>要不要去買些東西呢？</p>
                            </div>
                        `)
                $(".container-wrapper").append(emptyEl);
            }
            $(".purchase-list-page_tab").click(function (e) {
                $(".tab_lock").removeClass("tab_lock");
                $(this).addClass("tab_lock");
                var changeState = $(this).text();
                switch (changeState) {
                    case "待出貨":
                        state = 16;
                        break;
                    case "配送中":
                        state = 17;
                        break;
                    case "待付款/收貨":
                        state = 18;
                        break;
                    case "完成":
                        state = 19;
                        break;
                    case "取消":
                        state = 20;
                }
                updateData();
            });
        });
    </script>
</body>

</html>