<!DOCTYPE html>
<html lang="zh-tw">



<head>
	<title>許願搜尋</title>
	<link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">

	<!-- main CSS -->
	<link rel="stylesheet" href="../style/main.css">
	<link rel="stylesheet" href="../style/main2.css">
	<link rel="stylesheet" href="../style/DistrictType.css">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">
</head>

<body>
	<div id="header"></div>
	<div class="belowNavbar">

		<div class="container">
			<form method="GET" action="/TeamWork/search">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
							<option value="wish" class="dropdown-item">許願池</option>
							<option value="groupon" class="dropdown-item">限時團購</option>
							<option value="store" class="dropdown-item">購物商城</option>
						</select>
					</div>
					<input id="headsearch" name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<div class="container" id="container">
		<div class="row">
			<section class="col-lg-2">
				<form class="select-filter">
					<div class="form-group">
						<h3>條件篩選</h3>
					</div>
					<hr>
					<form>
						<div class="form-group">
							<p>分類</p>
							<!--                         <label for="exampleFormControlSelect1">分類</label> -->
							<select name="selectChange" class="form-control" id="exampleFormControlSelect1">
								<option value="0">--請選擇--</option>
								<option value="1">女生衣著</option>
								<option value="2">男生衣著</option>
								<option value="3">美妝保健</option>
								<option value="4">手機平板與周邊</option>
								<option value="5">嬰幼童與母親</option>
								<option value="6">3C</option>
								<option value="7">居家生活</option>
								<option value="8">家電影音</option>
								<option value="9">女生配件</option>
								<option value="10">男生包包與配件</option>
								<option value="11">女鞋</option>
								<option value="12">男鞋</option>
								<option value="13">女生包包/精品</option>
								<option value="14">戶外與運動用品</option>
								<option value="15">美食、伴手禮</option>
								<option value="16">汽機車零件百貨</option>
								<option value="17">寵物</option>
								<option value="18">娛樂、收藏</option>
								<option value="19">服務、票券</option>
								<option value="20">遊戲王</option>
								<option value="21">其他類別</option>

							</select> <select name="selectChange" class="form-control" id="exampleFormControlSelect2">
								<option value="0">--請選擇--</option>

							</select>
						</div>
					</form>
					<hr>
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">最高價格範圍</label>
							<input type="text" class="form-control" id="minprice" placeholder="$ 最小值">
							<div style="text-align: center">
								<p>｜
							</div>
							<input type="text" class="form-control" id="maxprice" placeholder="$ 最大值">
							<button type="button" id="pricebot" class="btn btn-outline-warning filter-button btn-sm">套用</button>
						</div>
					</form>
					<hr>
				</form>
				<!-- end of form.select-filter -->
			</section>
			<div name='null' style='height:50px;' class='row'>
			</div>
			<div class="col-lg-10">
				<div id='odbyvalue' name='0' style='height:50px;' class='d-flex justify-content-between'>


				</div>
				<div id="topmenu">


				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->
	<div class="contaminer-fluid">
		<!-- start of footer -->
		<div class="container">
			<div class="row">
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">客服中心</div>
					<ul class="footer-category-list">
						<li><a href="#">幫助中心</a></li>
						<li><a href="#">購物商城</a></li>
						<li><a href="#">付款方式</a></li>
						<li><a href="#">運費補助</a></li>
						<li><a href="#">退貨退款</a></li>
						<li><a href="#">我們承諾</a></li>
						<li><a href="#">聯絡客服</a></li>
					</ul>
				</div>
				<div class="footer-part col-lg-2">
					<div class="footer-category-name">關注我們</div>
					<ul class="footer-category-list">
						<li><img src="../images/social/facebook.png"> <a href="#">Facebook</a></li>
						<li><img src="../images/social/instagram.png"> <a href="#">Instagram</a></li>
						<li><img src="../images/social/line.png"> <a href="#">LINE</a>
						</li>
						<li><img src="../images/social/linkedin.png"> <a href="#"> Linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end of footer -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->


	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- <script>
	//以下是JS的include方式
	$(document).ready(function(){
		console.log("看看有沒有跑INCLUDE")
		$.get("testheader.html",function(data){
		$("#header").html(data);
		});
	})
	</script> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	 crossorigin="anonymous"></script>
	<script src="../js/heacerinclude.js"></script>
	<script>
		$(document).ready(function () {
			var cataurl = "/TeamWork/WishLoadList?"
			var url = location.href;
			var fromurl = "";

			var txt2 = "";
			var str = ""; //參數中等號左邊的值
			var str_value = ""; //參數中等號右邊的值
			var items = [];
			var items2 = [];
			url = url.replace("#", "");
			if (url.indexOf("?") != -1) {
				//如果網址有"?"符號
				var ary = url.split("?")[1].split("&");
				//取得"?"右邊網址後利用"&"分割字串存入ary陣列 ["a=1","b=2","c=3"]
				for (var i in ary) {
					//取得陣列長度去跑迴圈，如:網址有三個參數，則會跑三次
					str = ary[i].split("=")[0];
					//取得參數"="左邊的值存入str變數中
					if (str == "search") {
						//若str等於想要抓取參數 如:b

						str_value = decodeURI(ary[i]);
						search_value = decodeURI(ary[i].split("=")[1]);
						//取得b等號右邊的值並經過中文轉碼後存入str_value
					}


				}
				$("#headsearch").val(search_value);
			} else {
				str_value = "search=";
				cataurl = cataurl + str_value;
				search_value = "";
			}

			function txt22() {
				txt2 = `<div class='ml-3' id="topvalue" name="">
						<ul  class="drop-down-menu">
							<li id="btn1"><a href="#">最愛總數</a></li>
							<li id="btn2"><a href="#">熱門排行</a></li>
							<li	><a href="#">刊登日期</a>
								<ul>
									<li id="btn3"><a href="#">刊登起始日排序</a></li>
									<li id="btn4"><a href="#">刊登終止日排序</a></li>
								</ul>
							</li>
							<li><a href="#">接受總價格</a>
								<ul>
									<li id="btn5"><a href="#" name="1">價格低到高排序</a></li>
									<li id="btn6"><a href="#" name="2">價格高到低排序</a></li>
								</ul>
							</li>
							<li id="dymenu"><a href="#"  name="0">許願地區</a>
								<ul  >
									<li ><a href="#" name="1">台灣</a>
										<ul>
											<li><a href="#" name="2">北北基</a>
												<ul>
													<li><a href="#" name="9">台北市</a></li>
													<li><a href="#" name="10">新北市</a></li>
													<li><a href="#" name="11">基隆市</a></li>
												</ul>
											</li>
											<li><a href="#" name="3">桃竹苗</a>
												<ul>
													<li><a href="#" name="12">桃園市</a></li>       
													<li><a href="#" name="13">新竹市</a></li>
													<li><a href="#" name="14">新竹縣</a></li>
													<li><a href="#" name="15">苗栗縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="4">中彰投</a>
												<ul>
													<li><a href="#" name="16">台中市</a></li>
													<li><a href="#" name="17">彰化縣</a></li>
													<li><a href="#" name="18">南投縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="5">雲嘉南</a>
												<ul>
													<li><a href="#" name="19">雲林縣</a></li>
													<li><a href="#" name="20">嘉義市</a></li>
													<li><a href="#" name="21">嘉義縣</a></li>
													<li><a href="#" name="22">台南市</a></li>
												</ul>
											</li>
											<li><a href="#"  name="6">高屏</a>
												<ul>
													<li><a href="#" name="23">高雄市</a></li>
													<li><a href="#" name="24">屏東縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="7">宜花東</a>
												<ul>
													<li><a href="#" name="25">宜蘭縣</a></li>
													<li><a href="#" name="26">花蓮縣</a></li>
													<li><a href="#" name="27">台東縣</a></li>
												</ul>
											</li>
											<li><a href="#" name="8">離島地區</a>
												<ul>
													<li><a href="#" name="28">澎湖縣</a></li>
													<li><a href="#" name="29">金門縣</a></li>
													<li><a href="#" name="30">連江縣</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<!--台灣 -->
									<li><a href="#" name="31">日本</a>
										<ul>
											<li><a href="#" name="32">北海道</a>
												<ul>
													<li><a href="#" name="40">道北</a>
														<ul>
															<li><a href="#" name="90">旭川</a></li>
															<li><a href="#" name="91>美瑛</a></li>
															<li><a href="#" name="92">富良野</a></li>
															<li><a href="#" name="93">層雲峽</a></li>
															<li><a href="#" name="94">稚內</a></li>
															<li><a href="#" name="95">留萌</a></li>
														</ul>
													</li>
													<li><a href="#" name="41">道央</a>
														<ul>
															<li><a href="#" name="96">札幌</a></li>
															<li><a href="#" name="97">小樽</a></li>
															<li><a href="#" name="98">苫小木</a></li>
															<li><a href="#" name="99">洞爺湖</a></li>
														</ul>
													</li>
													<li><a href="#name="42">道東</a>
														<ul>
															<li><a href="#" name="100">帶廣</a></li>
															<li><a href="#" name="101">網走</a></li>
															<li><a href="#" name="102">釧路</a></li>
															<li><a href="#" name="103">阿寒湖</a></li>
														</ul>
													</li>
													<li><a href="#" name="43">道南</a>
														<ul>
															<li><a href="#" name="104">函館</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="33">東北地方</a>
												<ul>
													<li><a href="#" name="44">青森</a>
														<ul>
															<li><a href="#" name="105">弘前</a></li>
															<li><a href="#" name="106">津輕</a></li>
															<li><a href="#" name="107">陸奧</a></li>
															<li><a href="#" name="108">八戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="45">岩手</a>
														<ul>
															<li><a href="#" name="109">盛岡</a></li>
														</ul>
													</li>
													<li><a href="#" name="46">秋田</a>
														<ul>
															<li><a href="#" name="110">秋田</a></li>
														</ul>
													</li>
													<li><a href="#" name="47">宮城</a>
														<ul>
															<li><a href="#" name="111">仙台</a></li>
														</ul>
													</li>
													<li><a href="#" name="48">山形</a>
														<ul>
															<li><a href="#" name="112">山形</a></li>
														</ul>
													</li> 
													<li><a href="#" name="49">福島</a>
														<ul>
															<li><a href="#" name="113">福島</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="34">關東地方</a>
												<ul>
													<li><a href="# name="50">茨城</a>
														<ul>
															<li><a href="#" name="114">水戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="51">栃木</a>
														<ul>
															<li><a href="#" name="115">宇都宮</a></li>
															<li><a href="#" name="116">日光</a></li>
															<li><a href="#" name="117">佐野</a></li>
														</ul>
													</li>
													<li><a href="#" name="52">群馬</a>
														<ul>
															<li><a href="#" name="118">前橋</a></li>
														</ul>
													</li>
													<li><a href="#" name="53">埼玉</a>
														<ul>
															<li><a href="#" name="119">埼玉</a></li>
														</ul>
													</li>
													<li><a href="#"  name="54">千葉</a>
														<ul>
															<li><a href="#" name="120">千葉</a></li>
														</ul>
													</li>
													<li><a href="#" name="55">東京</a>
														<ul>
															<li><a href="#" name="121">東京</a></li>
														</ul>
													</li>
													<li><a href="#" name="56">神奈川</a>
														<ul>
															<li><a href="#" name="122">橫濱</a></li>
															<li><a href="#" name="123">箱根</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="35">中部地方</a>
												<ul>
													<li><a href="#" name="57">山梨</a>
														<ul>
															<li><a href="#" name="124">甲府</a></li>
														</ul>
													</li>
													<li><a href="#" name="58">長野</a>
														<ul>
															<li><a href="#" name="125">長野</a></li>
															<li><a href="#" name="126">輕井澤</a></li>
															<li><a href="#" name="127">野澤溫泉</a></li>
														</ul>
													</li>
													<li><a href="#" name="59">新潟</a>
														<ul>
															<li><a href="#" name="128">新潟</a></li>
														</ul>
													</li>
													<li><a href="#" name="60">富山</a>
														<ul>
															<li><a href="#" name="129">富山</a></li>
														</ul>
													</li>
													<li><a href="#" name="61">石川</a>
														<ul>
															<li><a href="#" name="130">金澤</a></li>
															<li><a href="#" name="131">加賀</a></li>
														</ul>
													</li>
													<li><a href="#" name="62">福井</a>
														<ul>
															<li><a href="#" name="132">福井</a></li>
														</ul>
													</li>
													<li><a href="#" name="63">靜岡</a>
														<ul>
															<li><a href="#" name="133">靜岡</a></li>
															<li><a href="#" name="134">伊豆</a></li>
														</ul>
													</li>
													<li><a href="#" name="64">愛知</a>
														<ul>
															<li><a href="#" name="135">名古屋</a></li>
														</ul>
													</li>
													<li><a href="#" name="65">岐阜</a>
														<ul>
															<li><a href="#" name="136">岐阜</a></li>
															<li><a href="#" name="137">美濃</a></li>
															<li><a href="#" name="138">飛驒地區</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="36">近畿地方</a>
												<ul>
													<li><a href="#" name="66">滋賀</a>
														<ul>
															<li><a href="#" name="139">大津</a></li>
														</ul>
													</li>
													<li><a href="#" name="67">京都</a>
														<ul>
															<li><a href="#" name="140">京都</a></li>
															<li><a href="#" name="141">宇治</a></li>
														</ul>
													</li>
													<li><a href="#" name="68">大阪</a>
														<ul>
															<li><a href="#" name="142">大阪</a></li>
															<li><a href="#" name="143">堺</a></li>
														</ul>
													</li>
													<li><a href="#" name="69">兵庫</a>
														<ul>
															<li><a href="#" name="144">神戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="70">奈良</a>
														<ul>
															<li><a href="#" name="145">奈良</a></li>
														</ul>
													</li>
													<li><a href="#" name="71">三重</a>
														<ul>
															<li><a href="#" name="146">津</a></li>
															<li><a href="#" name="147">伊勢</a></li>
														</ul>
													</li>
													<li><a href="#"  name="72">和歌山</a>
														<ul>
															<li><a href="#" name="148">和歌山</a></li>
														</ul>
													</li>

												</ul>
											</li>
											<li><a href="#" name="37">中國地方</a>
												<ul>
													<li><a href="#"  name="73">鳥取</a>
														<ul>
															<li><a href="#" name="149">鳥取</a></li>
														</ul>
													</li>
													<li><a href="#" name="74">島根</a>
														<ul>
															<li><a href="#" name="150">松江</a></li>
															<li><a href="#" name="151">石見</a></li>
															<li><a href="#" name="152">出雲</a></li>
															<li><a href="#" name="153">隱岐</a></li>
															<li><a href="#" name="154">溫泉津溫泉</a></li>
														</ul>
													</li>
													<li><a href="#" name="75">岡山</a>
														<ul>
															<li><a href="#" name="155">岡山</a></li>
														</ul>
													</li>
													<li><a href="#" name="76">廣島</a>
														<ul>
															<li><a href="#" name="156">廣島</a></li>
														</ul>
													</li>
													<li><a href="#" name="77">山口</a>
														<ul>
															<li><a href="#" name="157">山口</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="38">四國</a>
												<ul>
													<li><a href="#" name="78">德島</a>
														<ul>
															<li><a href="#" name="158">德島</a></li>
														</ul>
													</li>
													<li><a href="#" name="79">香川</a>
														<ul>
															<li><a href="#" name="159">高松</a></li>
															<li><a href="#" name="160">讚岐</a></li>
														</ul>
													</li>
													<li><a href="#" name="80">愛媛</a>
														<ul>
															<li><a href="#" name="161">松山</a></li>
														</ul>
													</li>
													<li><a href="#" name="81">高知</a>
														<ul>
															<li><a href="#" name="162">高知</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="39">九州</a>
												<ul>
													<li><a href="#" name="82">福岡</a>
														<ul>
															<li><a href="#" name="163">福岡</a></li>
															<li><a href="#" name="164">博多</a></li>
															<li><a href="#" name="165">北九州</a></li>
														</ul>
													</li>
													<li><a href="#" name="83">佐賀</a>
														<ul>
															<li><a href="#" name="166">佐賀</a></li>
														</ul>
													</li>
													<li><a href="#" name=84">長崎</a>
														<ul>
															<li><a href="#" name="167">長崎</a></li>
														</ul>
													</li>
													<li><a href="#" name="85">熊本</a>
														<ul>
															<li><a href="#" name="168">熊本</a></li>
														</ul>
													</li>
													<li><a href="#" name="86">大分</a>
														<ul>
															<li><a href="#" name="169">大分</a></li>
														</ul>
													</li>
													<li><a href="#" name="87" >宮崎</a>
														<ul>
															<li><a href="#" name="170">宮崎</a></li>
														</ul>
													</li>
													<li><a href="#" name="88">鹿兒島</a>
														<ul>
															<li><a href="#" name="171">鹿兒島</a></li>
															<li><a href="#" name="172">薩摩</a></li>
														</ul>
													</li>
													<li><a href="#" name="89">沖繩</a>
														<ul>
															<li><a href="#" name="173">那霸</a></li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>

						</ul>
						</div><!-- 地區 -->
						<div>
						<button type='btn' class='btn btn-light'><i class="fas fa-list"></i></button>
						<button type='btn' class='btn btn-light'><i class="fab fa-buromobelexperte"></i></button>
						<button type='btn' class='btn btn-light'><</button>
						<button type='btn' class='btn btn-light'>></button>
						</div>`

			}

			$.ajax({
				type: "GET",
				url: "/TeamWork/WishLoad?" + str_value,
				error: function () {

					var txt = "<div><div style='width:1000px;height:200px;padding-top:100px;text-align:center'><div><img src='/TeamWork/web/images/warningbig.png' style='margin: auto'><p padding-top:10px;>我們找不到此條件的<span style='color:red;font-size:20px;'>" + search_value + "</span>商品，請重新搜尋</p></div>";
					txt += `<div><form method="GET" action="/TeamWork/search">
										<div class="input-group mb-1" style='width:60%;margin:auto'>
                   						<div class="input-group-prepend">
                        				<select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
										<option  value="wish" class="dropdown-item">許願池</option>
										<option  value="store" class="dropdown-item">購物商城</option>
										<option  value="groupon" class="dropdown-item">限時團購</option>
										</select>
										</div>
										<input  id="headsearch" name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
										<div class="input-group-append">
										<button   class="btn btn-outline-secondary" type="submit">Search</button>
										</div>
										</div>
										</form></div></div>`
					$("#odbyvalue").html(txt);
					var txt1 = "";
					$("#topmenu").html(txt1);
					console.log("載入失敗")
				},
				success: function (res) {

					console.log("載入所有資料")
					if (res.length == 0) {
						var txt = "<div><div style='width:1000px;height:200px;padding-top:100px;text-align:center'><div><img src='/TeamWork/web/images/warningbig.png' style='margin: auto'><p padding-top:10px;>我們找不到此條件的  <span style='color:red;font-size:20px;'>" + search_value + "</span>  商品，請重新搜尋</p></div>";
						txt += `<div><form method="GET" action="/TeamWork/search">
										<div class="input-group mb-1" style='width:60%;margin:auto'>
                   						<div class="input-group-prepend">
                        				<select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
										<option  value="wish" class="dropdown-item">許願池</option>
										<option  value="store" class="dropdown-item">購物商城</option>
										<option  value="groupon" class="dropdown-item">限時團購</option>
										</select>
										</div>
										<input  id="headsearch" name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
										<div class="input-group-append">
										<button   class="btn btn-outline-secondary" type="submit">Search</button>
										</div>
										</div>
										</form></div></div>`
						$("#odbyvalue").html(txt);
						$("#odbyvalue").html(txt);
						var txt1 = "";
						$("#topmenu").html(txt1);
					} else {

						items = res;
						var txt3 = "";
						$("#odbyvalue").html(txt3)
						// $("#odbyvalue").append(txt2)
						txt22();
						$("#odbyvalue").html(txt2)
						// 更新畫面中的元素
						updateList();
						dymenuclick();
						btn1click()
					}


				}
			})


			function imageJudge(isImage) {
				if (isImage == "" || isImage == null) {
					return "/TeamWork/web/images/form-cat.png"
				} else {
					return isImage
				}
			}
			function changeTime(isTime) {
				if (isTime == "") {
					return w_startDate
				} else {
					return w_changeTime
				}
			}

			function imageWish(isImage) {
				if (isImage != undefined && isImage != null) {
					if (isImage.wishImages[0] != undefined && isImage.wishImages[0] != null) {
						if (isImage.wishImages[0].wI_context != undefined && isImage.wishImages[0].wI_context != "") {
							return isImage.wishImages[0].mI_context
						}
					}
				}
				return "/TeamWork/web/images/form-cat.png"
			}
			function updateList() {
				console.log(items)
				var itemEl = ""
				items.forEach(function (item) {
					itemEl += `<div class="comments-container">
					<ul  class="comments-list">
						<li>
							<div class="comment-main-level">
								<div class="comment-avatar">
								<img src="${imageJudge(item.member.m_photo)}" alt="">
								</div>
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-123"> <a href='/TeamWork/web/view/wish-detail.html?w_id='"${item.m_id}" '>${item.member.m_name}(${item.w_amountFavorite})</a></h6>
										<span>${item.product.wP_completeTime||"許願進行中"}</span>
									</div>
									<div style="background-color:#E0FFFF" class="comment-content">
										<img class="card-img-top rounded float-right align-top cc" src='${imageWish(item.wishProduct[0])}' onclick='clickdiv()' data-box='${item.w_id}'  alt="Card image cap">
										<p class='text-left'>${item.w_title}</p>
									</div>
									<div class="comment-content">
										<p class="text-left">${item.w_context}</p>
									</div>
									<hr>
									<div class="comment-content">
										<p class="text-left">地區:  ${item.districtType.d_name} </p>
									</div>
									
									<hr>
									<div class="comment-head div">
										<div class="comment-head div1">
											<p class="p1" name="pricename" id='price${item.w_id}'>目前尚未有人出價</p>
										</div>
										<div class="comment-head div2">
											<p class="text-left p2">最高價格:${item.w_sumPriceTop||"沒有標價呦"}</p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>`
					pricew_id(item.w_id)

				})
				$("#topmenu").html(itemEl).append(
					`<div class="row d-flex justify-content-center">
									<nav aria-label="Page navigation example">
									<ul class="pagination">
						  			<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
							  		<span aria-hidden="true">&laquo;</span>
							 		<span class="sr-only">Previous</span>
									</a>
						 			 </li>
						 			 <li class="page-item"><a class="page-link" href="#">1</a></li>
						 			 <li class="page-item"><a class="page-link" href="#">2</a></li>
						 			 <li class="page-item"><a class="page-link" href="#">3</a></li>
						  			<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
									  <span aria-hidden="true">&raquo;</span>
							 		 <span class="sr-only">Next</span>
									</a>
						 			 </li>
									</ul>
					</nav>
					</div>`
				)
			}
			function pricew_id(w_id) {
				$.ajax({
					url: "/TeamWork/WishBidLists?w_id=" + w_id,
					error: function () {
						var txt = "<p>我們找不到 	" + search_value + "	 商品</p>";
						$("#odbyvalue").html(txt);
						console.log("載入失敗");
					},
					success: function (res) {
						console.log("載入第二次所有資料");
						console.log(items2)
						items2 = res;
						// 更新畫面中的元素
						items2.forEach(function (item2) {
							// if(item2.wB_bid==null||item2.wB_bid==0||item2.wB_bid==""||item2.wB_bid==undefined){

							$("#price" + w_id).text("目前出價:" + item2.wB_bid)
						})


					}
				})

			}
		})

		$("#dymenu ul a").on('click', function () {
			$("#dymenu ul").hide();

		});



		function dymenuclick() {
			$("#dymenu a").click(function () {
				var tt = $(this).attr("name")
				$("#topmenu").attr('name', tt);
				changefrom();
			});
		}
		$("[name='selectChange']")
			.change(
				function () {
					changefrom();
				});
		$("#pricebot").click(function () {
			changefrom();
		})

		$("#exampleFormControlSelect1")
			.change(
				function () {
					var exampleFormControlSelect1 = $(
						"#exampleFormControlSelect1")
						.val();
					$.ajax({
						type: "POST",
						url: "/TeamWork/changeStoreFormSelect",
						data: { "p_id": exampleFormControlSelect1 },
						success: function (jsonback) {
							var json = JSON.parse(jsonback);
							var txtselect = "";
							txtselect += "<option value=0>--請選擇--</option>";
							//           	for( x = 0 ; x< json.length ; x++) {            
							//                 txtselect += "<option value="+x+">"+json[x].name+"</option>";        
							//            	}
							// 			var txtselect = "" ; 
							for (x = 1; x < json.length; x++) {
								txtselect += "<option value=" + json[x].p_id + ">"
									+ json[x].p_name
									+ "</option>";

							}
							$("#exampleFormControlSelect2").html(txtselect);
						}
					});
				});


		function btn1click() {
			$("#btn1").click(function () {
				$("#topvalue").attr('name', '1');

				changefrom();
			})
			$("#btn2").click(function () {
				$("#topvalue").attr('name', '2');

				changefrom();
			})
			$("#btn3").click(function () {
				$("#topvalue").attr('name', '3');

				changefrom();
			})
			$("#btn4").click(function () {
				$("#topvalue").attr('name', '4');

				changefrom();
			})
			$("#btn5").click(function () {
				$("#topvalue").attr('name', '5');

				changefrom();
			})
			$("#btn6").click(function () {
				$("#topvalue").attr('name', '6');

				changefrom();
			})
		}
		function imageJudge(isImage) {
			if (isImage == "" || isImage == null) {
				return "/TeamWork/web/images/form-cat.png"
			} else {
				return isImage
			}
		}
		function changeTime(isTime) {
			if (isTime == "") {
				return w_startDate
			} else {
				return w_changeTime
			}
		}

		function imageWish(isImage) {
			if (isImage != undefined && isImage != null) {
				if (isImage.wishImages[0] != undefined && isImage.wishImages[0] != null) {
					if (isImage.wishImages[0].wI_context != undefined && isImage.wishImages[0].wI_context != "") {
						return isImage.wishImages[0].mI_context
					}
				}
			}
			return "/TeamWork/web/images/form-cat.png"
		}

		function changefrom() {
			var catchsearch = "search=" + $("#headsearch").val();

			fromurl = "/TeamWork/WishCheage?" + catchsearch;
			fromurl = fromurl.replace("#", "");
			if ($(
				"#exampleFormControlSelect1")
				.val() != 0) {
				var exampleFormControlSelect1 = $(
					"#exampleFormControlSelect1")
					.val();
				fromurl += "&a="
					+ exampleFormControlSelect1;
			}
			if ($(
				"#exampleFormControlSelect2")
				.val() != 0) {
				var exampleFormControlSelect2 = $(
					"#exampleFormControlSelect2")
					.val();
				fromurl += "&b="
					+ exampleFormControlSelect2;
			}

			// 價格範圍


			if ($("input[id='minprice']").val() != "") {
				var minprice = $("input[id='minprice']").val()
				fromurl += "&c=" + minprice;

			}
			if ($("input[id='maxprice']").val() != "") {
				var maxprice = $("input[id='maxprice']").val()
				fromurl += "&d=" + maxprice;

			}
			if ($("#topvalue").attr("name") != null) {
				var topvalue = $('#topvalue').attr("name");
				fromurl += "&e=" + topvalue;


			}


			if ($('#topmenu').attr("name") != null) {
				var topmenu = $('#topmenu').attr("name");
				fromurl += "&f=" + topmenu;


			}

			fromurl = fromurl.replace("#", "");


			$.ajax({

				type: "GET",
				url: fromurl,
				error: function () {
					var txt = "<div><div style='width:1000px;height:200px;padding-top:100px;text-align:center'><div><img src='/TeamWork/web/images/warningbig.png' style='margin: auto'><p padding-top:10px;>我們找不到此條件的  <span style='color:red;font-size:20px;'>" + search_value + "</span>  商品，請重新搜尋</p></div>";
					txt += `<div><form method="GET" action="/TeamWork/search">
										<div class="input-group mb-1" style='width:60%;margin:auto'>
                   						<div class="input-group-prepend">
                        				<select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
										<option  value="wish" class="dropdown-item">許願池</option>
										<option  value="store" class="dropdown-item">購物商城</option>
										<option  value="groupon" class="dropdown-item">限時團購</option>
										</select>
										</div>
										<input  id="headsearch" name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
										<div class="input-group-append">
										<button   class="btn btn-outline-secondary" type="submit">Search</button>
										</div>
										</div>
										</form></div></div>`
					$("#odbyvalue").html(txt);

					var txt1 = "";
					$("#topmenu").html(txt1);
					console.log("載入失敗")
				},
				success: function (res) {
					console.log("載入所有資料")
					if (res.length == 0) {
						var txt = "<div><div style='width:1000px;height:200px;padding-top:100px;text-align:center'><div><img src='/TeamWork/web/images/warningbig.png' style='margin: auto'><p padding-top:10px;>我們找不到此條件的  <span style='color:red;font-size:20px;'>" + search_value + "</span>  商品，請重新搜尋</p></div>";
						txt += `<div><form method="GET" action="/TeamWork/search">
										<div class="input-group mb-1" style='width:60%;margin:auto'>
                   						<div class="input-group-prepend">
                        				<select name="selectone" class="btn btn-outline-secondary dropdown-toggle">
										<option  value="wish" class="dropdown-item">許願池</option>
										<option  value="store" class="dropdown-item">購物商城</option>
										<option  value="groupon" class="dropdown-item">限時團購</option>
										</select>
										</div>
										<input  id="headsearch" name="search" type="text" class="form-control" aria-label="Text input with dropdown button">
										<div class="input-group-append">
										<button   class="btn btn-outline-secondary" type="submit">Search</button>
										</div>
										</div>
										</form></div></div>`
						$("#odbyvalue").html(txt);
						var txt1 = "";
						$("#topmenu").html(txt1);

					} else {

						items = res;
						var txt3 = "";
						$("#odbyvalue").html(txt3)
						txt2 = `<div class='ml-3' id="topvalue" name="">
						<ul  class="drop-down-menu">
							<li id="btn1"><a href="#">最愛總數</a></li>
							<li id="btn2"><a href="#">熱門排行</a></li>
							<li	><a href="#">刊登日期</a>
								<ul>
									<li id="btn3"><a href="#">刊登起始日排序</a></li>
									<li id="btn4"><a href="#">刊登終止日排序</a></li>
								</ul>
							</li>
							<li><a href="#">接受總價格</a>
								<ul>
									<li id="btn5"><a href="#" name="1">價格低到高排序</a></li>
									<li id="btn6"><a href="#" name="2">價格高到低排序</a></li>
								</ul>
							</li>
							<li id="dymenu"><a href="#"  name="0">許願地區</a>
								<ul  >
									<li ><a href="#" name="1">台灣</a>
										<ul>
											<li><a href="#" name="2">北北基</a>
												<ul>
													<li><a href="#" name="9">台北市</a></li>
													<li><a href="#" name="10">新北市</a></li>
													<li><a href="#" name="11">基隆市</a></li>
												</ul>
											</li>
											<li><a href="#" name="3">桃竹苗</a>
												<ul>
													<li><a href="#" name="12">桃園市</a></li>       
													<li><a href="#" name="13">新竹市</a></li>
													<li><a href="#" name="14">新竹縣</a></li>
													<li><a href="#" name="15">苗栗縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="4">中彰投</a>
												<ul>
													<li><a href="#" name="16">台中市</a></li>
													<li><a href="#" name="17">彰化縣</a></li>
													<li><a href="#" name="18">南投縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="5">雲嘉南</a>
												<ul>
													<li><a href="#" name="19">雲林縣</a></li>
													<li><a href="#" name="20">嘉義市</a></li>
													<li><a href="#" name="21">嘉義縣</a></li>
													<li><a href="#" name="22">台南市</a></li>
												</ul>
											</li>
											<li><a href="#"  name="6">高屏</a>
												<ul>
													<li><a href="#" name="23">高雄市</a></li>
													<li><a href="#" name="24">屏東縣</a></li>
												</ul>
											</li>
											<li><a href="#"  name="7">宜花東</a>
												<ul>
													<li><a href="#" name="25">宜蘭縣</a></li>
													<li><a href="#" name="26">花蓮縣</a></li>
													<li><a href="#" name="27">台東縣</a></li>
												</ul>
											</li>
											<li><a href="#" name="8">離島地區</a>
												<ul>
													<li><a href="#" name="28">澎湖縣</a></li>
													<li><a href="#" name="29">金門縣</a></li>
													<li><a href="#" name="30">連江縣</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<!--台灣 -->
									<li><a href="#" name="31">日本</a>
										<ul>
											<li><a href="#" name="32">北海道</a>
												<ul>
													<li><a href="#" name="40">道北</a>
														<ul>
															<li><a href="#" name="90">旭川</a></li>
															<li><a href="#" name="91>美瑛</a></li>
															<li><a href="#" name="92">富良野</a></li>
															<li><a href="#" name="93">層雲峽</a></li>
															<li><a href="#" name="94">稚內</a></li>
															<li><a href="#" name="95">留萌</a></li>
														</ul>
													</li>
													<li><a href="#" name="41">道央</a>
														<ul>
															<li><a href="#" name="96">札幌</a></li>
															<li><a href="#" name="97">小樽</a></li>
															<li><a href="#" name="98">苫小木</a></li>
															<li><a href="#" name="99">洞爺湖</a></li>
														</ul>
													</li>
													<li><a href="#name="42">道東</a>
														<ul>
															<li><a href="#" name="100">帶廣</a></li>
															<li><a href="#" name="101">網走</a></li>
															<li><a href="#" name="102">釧路</a></li>
															<li><a href="#" name="103">阿寒湖</a></li>
														</ul>
													</li>
													<li><a href="#" name="43">道南</a>
														<ul>
															<li><a href="#" name="104">函館</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="33">東北地方</a>
												<ul>
													<li><a href="#" name="44">青森</a>
														<ul>
															<li><a href="#" name="105">弘前</a></li>
															<li><a href="#" name="106">津輕</a></li>
															<li><a href="#" name="107">陸奧</a></li>
															<li><a href="#" name="108">八戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="45">岩手</a>
														<ul>
															<li><a href="#" name="109">盛岡</a></li>
														</ul>
													</li>
													<li><a href="#" name="46">秋田</a>
														<ul>
															<li><a href="#" name="110">秋田</a></li>
														</ul>
													</li>
													<li><a href="#" name="47">宮城</a>
														<ul>
															<li><a href="#" name="111">仙台</a></li>
														</ul>
													</li>
													<li><a href="#" name="48">山形</a>
														<ul>
															<li><a href="#" name="112">山形</a></li>
														</ul>
													</li> 
													<li><a href="#" name="49">福島</a>
														<ul>
															<li><a href="#" name="113">福島</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="34">關東地方</a>
												<ul>
													<li><a href="# name="50">茨城</a>
														<ul>
															<li><a href="#" name="114">水戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="51">栃木</a>
														<ul>
															<li><a href="#" name="115">宇都宮</a></li>
															<li><a href="#" name="116">日光</a></li>
															<li><a href="#" name="117">佐野</a></li>
														</ul>
													</li>
													<li><a href="#" name="52">群馬</a>
														<ul>
															<li><a href="#" name="118">前橋</a></li>
														</ul>
													</li>
													<li><a href="#" name="53">埼玉</a>
														<ul>
															<li><a href="#" name="119">埼玉</a></li>
														</ul>
													</li>
													<li><a href="#"  name="54">千葉</a>
														<ul>
															<li><a href="#" name="120">千葉</a></li>
														</ul>
													</li>
													<li><a href="#" name="55">東京</a>
														<ul>
															<li><a href="#" name="121">東京</a></li>
														</ul>
													</li>
													<li><a href="#" name="56">神奈川</a>
														<ul>
															<li><a href="#" name="122">橫濱</a></li>
															<li><a href="#" name="123">箱根</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="35">中部地方</a>
												<ul>
													<li><a href="#" name="57">山梨</a>
														<ul>
															<li><a href="#" name="124">甲府</a></li>
														</ul>
													</li>
													<li><a href="#" name="58">長野</a>
														<ul>
															<li><a href="#" name="125">長野</a></li>
															<li><a href="#" name="126">輕井澤</a></li>
															<li><a href="#" name="127">野澤溫泉</a></li>
														</ul>
													</li>
													<li><a href="#" name="59">新潟</a>
														<ul>
															<li><a href="#" name="128">新潟</a></li>
														</ul>
													</li>
													<li><a href="#" name="60">富山</a>
														<ul>
															<li><a href="#" name="129">富山</a></li>
														</ul>
													</li>
													<li><a href="#" name="61">石川</a>
														<ul>
															<li><a href="#" name="130">金澤</a></li>
															<li><a href="#" name="131">加賀</a></li>
														</ul>
													</li>
													<li><a href="#" name="62">福井</a>
														<ul>
															<li><a href="#" name="132">福井</a></li>
														</ul>
													</li>
													<li><a href="#" name="63">靜岡</a>
														<ul>
															<li><a href="#" name="133">靜岡</a></li>
															<li><a href="#" name="134">伊豆</a></li>
														</ul>
													</li>
													<li><a href="#" name="64">愛知</a>
														<ul>
															<li><a href="#" name="135">名古屋</a></li>
														</ul>
													</li>
													<li><a href="#" name="65">岐阜</a>
														<ul>
															<li><a href="#" name="136">岐阜</a></li>
															<li><a href="#" name="137">美濃</a></li>
															<li><a href="#" name="138">飛驒地區</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="36">近畿地方</a>
												<ul>
													<li><a href="#" name="66">滋賀</a>
														<ul>
															<li><a href="#" name="139">大津</a></li>
														</ul>
													</li>
													<li><a href="#" name="67">京都</a>
														<ul>
															<li><a href="#" name="140">京都</a></li>
															<li><a href="#" name="141">宇治</a></li>
														</ul>
													</li>
													<li><a href="#" name="68">大阪</a>
														<ul>
															<li><a href="#" name="142">大阪</a></li>
															<li><a href="#" name="143">堺</a></li>
														</ul>
													</li>
													<li><a href="#" name="69">兵庫</a>
														<ul>
															<li><a href="#" name="144">神戶</a></li>
														</ul>
													</li>
													<li><a href="#" name="70">奈良</a>
														<ul>
															<li><a href="#" name="145">奈良</a></li>
														</ul>
													</li>
													<li><a href="#" name="71">三重</a>
														<ul>
															<li><a href="#" name="146">津</a></li>
															<li><a href="#" name="147">伊勢</a></li>
														</ul>
													</li>
													<li><a href="#"  name="72">和歌山</a>
														<ul>
															<li><a href="#" name="148">和歌山</a></li>
														</ul>
													</li>

												</ul>
											</li>
											<li><a href="#" name="37">中國地方</a>
												<ul>
													<li><a href="#"  name="73">鳥取</a>
														<ul>
															<li><a href="#" name="149">鳥取</a></li>
														</ul>
													</li>
													<li><a href="#" name="74">島根</a>
														<ul>
															<li><a href="#" name="150">松江</a></li>
															<li><a href="#" name="151">石見</a></li>
															<li><a href="#" name="152">出雲</a></li>
															<li><a href="#" name="153">隱岐</a></li>
															<li><a href="#" name="154">溫泉津溫泉</a></li>
														</ul>
													</li>
													<li><a href="#" name="75">岡山</a>
														<ul>
															<li><a href="#" name="155">岡山</a></li>
														</ul>
													</li>
													<li><a href="#" name="76">廣島</a>
														<ul>
															<li><a href="#" name="156">廣島</a></li>
														</ul>
													</li>
													<li><a href="#" name="77">山口</a>
														<ul>
															<li><a href="#" name="157">山口</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="38">四國</a>
												<ul>
													<li><a href="#" name="78">德島</a>
														<ul>
															<li><a href="#" name="158">德島</a></li>
														</ul>
													</li>
													<li><a href="#" name="79">香川</a>
														<ul>
															<li><a href="#" name="159">高松</a></li>
															<li><a href="#" name="160">讚岐</a></li>
														</ul>
													</li>
													<li><a href="#" name="80">愛媛</a>
														<ul>
															<li><a href="#" name="161">松山</a></li>
														</ul>
													</li>
													<li><a href="#" name="81">高知</a>
														<ul>
															<li><a href="#" name="162">高知</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li><a href="#" name="39">九州</a>
												<ul>
													<li><a href="#" name="82">福岡</a>
														<ul>
															<li><a href="#" name="163">福岡</a></li>
															<li><a href="#" name="164">博多</a></li>
															<li><a href="#" name="165">北九州</a></li>
														</ul>
													</li>
													<li><a href="#" name="83">佐賀</a>
														<ul>
															<li><a href="#" name="166">佐賀</a></li>
														</ul>
													</li>
													<li><a href="#" name=84">長崎</a>
														<ul>
															<li><a href="#" name="167">長崎</a></li>
														</ul>
													</li>
													<li><a href="#" name="85">熊本</a>
														<ul>
															<li><a href="#" name="168">熊本</a></li>
														</ul>
													</li>
													<li><a href="#" name="86">大分</a>
														<ul>
															<li><a href="#" name="169">大分</a></li>
														</ul>
													</li>
													<li><a href="#" name="87" >宮崎</a>
														<ul>
															<li><a href="#" name="170">宮崎</a></li>
														</ul>
													</li>
													<li><a href="#" name="88">鹿兒島</a>
														<ul>
															<li><a href="#" name="171">鹿兒島</a></li>
															<li><a href="#" name="172">薩摩</a></li>
														</ul>
													</li>
													<li><a href="#" name="89">沖繩</a>
														<ul>
															<li><a href="#" name="173">那霸</a></li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>

						</ul>
						</div><!-- 地區 -->
						<div>
						<button type='btn' class='btn btn-light'><i class="fas fa-list"></i></button>
						<button type='btn' class='btn btn-light'><i class="fab fa-buromobelexperte"></i></button>
						<button type='btn' class='btn btn-light'><</button>
						<button type='btn' class='btn btn-light'>></button>
						</div>`

						$("#odbyvalue").html(txt2)
						// txt22();
						// $("#odbyvalue").append(txt2)
						// 更新畫面中的元素
						updateList();
						dymenuclick();
						btn1click()
					}

				}
			})
		}
		function updateList() {
			console.log(items)
			var itemEl = ""
			items.forEach(function (item) {
				itemEl += `<div class="comments-container">
					<ul  class="comments-list">
						<li>
							<div class="comment-main-level">
								<div class="comment-avatar">
								<img src="${imageJudge(item.member.m_photo)}" alt="">
								</div>
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-123"> <a href='/TeamWork/web/view/product-detail.html?sP_id='"${item.m_id}" '>${item.member.m_name} (${item.w_amountFavorite}) </a></h6>
										<span>${item.product.wP_completeTime||"許願進行中"}</span>
									</div>
									<div style="background-color:#E0FFFF" class="comment-content">
										<img class="card-img-top rounded float-right align-top cc" src='${imageWish(item.wishProduct[0])}'  onclick='clickdiv()' data-box='${item.w_id}' alt="Card image cap">
										<p class='text-left'>${item.w_title}</p>
									</div>
									<div class="comment-content">
										<p class="text-left">${item.w_context}</p>
									</div>
									<hr>
									<div class="comment-content">
										<p class="text-left">地區:  ${item.districtType.d_name} </p>
									</div>
									
									<hr>
									<div class="comment-head div">
										<div class="comment-head div1">
											<p class="p1" name="pricename" id='price${item.w_id}'>目前尚未有人出價</p>
										</div>
										<div class="comment-head div2">
											<p class="text-left p2">最高價格:${item.w_sumPriceTop||"沒有標價呦"}</p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>`
				pricew_id(item.w_id)

			})
			$("#topmenu").html(itemEl)
		}
		function pricew_id(w_id) {
			$.ajax({
				url: "/TeamWork/WishBidLists?w_id=" + w_id,
				error: function () {
					var txt = "<p>我們找不到 " + search_value + " 商品</p>";
					$("#odbyvalue").html(txt);
					console.log("載入失敗");
				},
				success: function (res) {
					console.log("載入第二次所有資料");
					items2 = res;
					console.log(items2)
					// 更新畫面中的元素
					items2.forEach(function (item2) {
						// if(item2.wB_bid==null||item2.wB_bid==0||item2.wB_bid==""||item2.wB_bid==undefined){

						$("#price" + w_id).text("目前出價:" + item2.wB_bid)
					})


				}
			})

		}
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
	<script>
		function clickdiv() {
			var w_id = $(event.target).attr("data-box")

			$.ajax({
				type: "GET",
				url: "/TeamWork/WishHot?w_id=" + w_id,
				success: function (response) {

			location.href = "/TeamWork/web/view/wish-detail.html?w_id=" + w_id
				}
				// location.href="/TeamWork/web/view/product-detail.html?sP_id=" + sp_id
			})
		}
	</script>
</body>

</html>