<!doctype html>
<html lang="en">

<head>

    <title>(許願)商品詳情</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <!-- jQuery first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="../js/jquery.func_toggle.js"></script>
	<script>
		var hahaha;  //抓取？後的值
		var singlePriceContent="";
		var commentText=""; 
		var replyClicked = false;
		var nowDate = new Date();
		var nowDateFormed = (nowDate.getYear()+1900)+"/"+(nowDate.getMonth()+1)+"/"+nowDate.getDate()+" "+((nowDate.getHours().toString().length==1)?"0"+nowDate.getHours():nowDate.getHours())+":"+((nowDate.getMinutes().toString().length==1)?"0"+nowDate.getMinutes():nowDate.getMinutes());
		var productDemoPhototxt="";
		var bidState = 28;
		
		
// 		document.cookie = "m_mail=rika.tanabe@fgdrvegdsrgf.usa.cc;"; //登入的假cookie
		var member_mail;
		var theCookies = document.cookie.split(";");
		var member_id;
		
		var wish_bean;
		var member_bean;
		var isAuthor = false;
		
		var head = 0;
		var tail = 3;
		var slideNo = document.getElementsByClassName("hotSale-box");
		$(function(){		
			//相關熱門許願商品
			$("#next").click(function(){
				for(i=0;i<slideNo.length;i++){
					slideNo[i].style.display = "none";
				}
				tail += 4;
				if(tail>11){
					tail = 3;
				}
				for(j=tail;j>tail-4;j--){
					slideNo[j].style.display = "block";					
				}
			})	
			
			$("#last").click(function(){
				for(i=0;i<slideNo.length;i++){
					slideNo[i].style.display = "none";
				}
				tail -= 4;
				if(tail<0){
					tail = 11;
				}
				for(j=tail-3;j<=tail;j++){
					slideNo[j].style.display = "block";					
				}
			})
			//取得各種變數
			var path = location.search.substring(1);
			paths = path.split("&");
				for(param in paths){
					params = paths[param].split("=");
					if(params[0] == "w_id")
						hahaha = paths[param];	//hahaha= w_id=?
				}
			for(i=0;i<theCookies.length;i++){
				var name = "e_mail=";
				var c = theCookies[i];
				while (c.charAt(0) == ' ') {
			    	c = c.substring(1);    //去空格, 若是不去的話跑不下去= =
			        }
				if(c.indexOf(name) == 0){
					member_mail = c.substring(name.length,c.length);
				}
			}
			//頁面相關資訊顯示
			$.ajax({
				url:"/TeamWork/FindMemberByEmail", //把m_mail轉換成m_id
				type:"POST",
				data:{email:member_mail},
				async:false,
				success: function(data){
					member_bean = data;
					$.ajax({
						url:"/TeamWork/CheckWishFavorite", //判斷商品是否已經加入最愛
						type:"POST",
						data:{"m_idFavorite": member_bean.m_id, "w_id": hahaha.substring(5)},
						success:function(data1){
							if(data1==false){//如果資料庫有撈出重複值(即為已加入最愛)
								$("#favorite").removeClass("far");
								$("#favorite").addClass("fas");
							}
						}
					})
				}
			})

			$.ajax({
				url: "/TeamWork/FindOneWish?"+hahaha,
				type: "GET",
				async:false,
				success: function(data1){
					wish_bean = data1;
					if(data1.member.m_id==member_bean.m_id){
						isAuthor = true;
					}
					//暫時這樣寫
					if(data1.w_stateId!=28)
						bidState = data1.w_stateId;
					
					//許願地區等詳細資訊
					$.ajax({
						url:"/TeamWork/FindOneWishDistrictType",
						type: "POST",
						data: {"d_id": data1.d_id},
						success: function(data2){
							$("#wish_district").after("<p>"+data2.d_name+"</p>");
						}
					})
// 					for(i=0;i<data1.wishProduct.length;i++){
// 						singlePriceContent += "<p>"+data1.wishProduct[i].wP_name;
// 						if(data1.wishProduct[i].wP_priceBottom!=null)
// 							singlePriceContent += "最低價格為 " + data1.wishProduct[i].wP_priceBottom+" ";
						
// 						if(data1.wishProduct[i].wP_priceTop!=null)
// 							singlePriceContent += " 最高價格為 "+data1.wishProduct[i].wP_priceTop;
						
// 						if(data1.wishProduct[i].wP_priceBottom == null && data1.wishProduct[i].wP_priceTop == null)
// 							singlePriceContent += "未設有最低與最高價格限度"
						
// 						singlePriceContent += "</p>";
// 					}
//		 			輪播牆
					$.ajax({
						url:"/TeamWork/GetWishProducts",
						type:"POST",
						data:{"w_id":data1.w_id},
						success:function(wishProducts){
							for(i=0;i<wishProducts.length;i++){
								$.ajax({
									url:"/TeamWork/FindWishImagesByWPBean",
									type:"POST",
									data:{"wP_id":data1.wishProduct[i].wP_id},
									success:function(data){
// 										console.log(data1);
// 										console.log(data);
										if(data.length != 0){
											for(i=0;i<3;i++){
												var imgCont = (data[i]&&data[i].wI_context&&data[i].wI_context!="")?data[i].wI_context:data[0].wI_context
												$("#img-" + (i+1)).attr("src",imgCont)
											}
										}else{
											for(i=0;i<3;i++){
												$("#img-" + (i+1)).attr("src",'/TeamWork/web/images/user/product/defaultProductImage.gif')
											}
										}
									}
								})
							}
						}
					})
					
					//輪播牆  關聯版(有空再做)
// 					if(data1.wishProduct.wishImages.length != 0){
// 						for(i=0;i<data1.wishProduct.wishImages.length;i++){
// 							if(i==0){
// 								productDemoPhototxt += `
// 									<div class="carousel-item avtive">
// 										<img class="d-block w-100"
// 												src="`+(data1.wishProduct.wishImages.sP_id==null)?'/TeamWork/web/images/user/product/defaultProductImage.gif':data[i].sI_context+`">
// 									</div>`;
// 							}
// 							productDemoPhototxt += `
// 							<div class="carousel-item">
// 								<img class="d-block w-100"
// 										src="`+(data[i].sP_id==null)?'/TeamWork/web/images/user/product/defaultProductImage.gif':data[i].sI_context+`">
// 							</div>`;
// 						}
// 					}else{
// 						productDemoPhototxt = 
// 							`<div class="carousel-item active">
// 								<img class="d-block w-100"
// 										src="/TeamWork/web/images/user/product/defaultProductImage.gif">
// 							</div>`;
// 					}
					//檢舉功能
					$("#report-submit").click(function(){
						$.ajax({
							url:"/TeamWork/SendWishReport",
							type:"POST",
							data:{m_idReport:member_bean.m_id, w_id:hahaha.substring(5), wR_content:$("#report-content").val(),wR_time:nowDateFormed,wR_stateId:46},
							success: function(response){
								alert("謝謝您的舉報，我們會盡快處理");
								window.location.href = "/TeamWork/web/view/wish-detail.html?"+hahaha
							}
						})
					})
					
					//我要出價顯示
					$("#buyer-comment-tab").click(showBid())	
					
					
					//問與答
					$("#qustion-answer-tab").click(showQandA());
					function showQandA(){
						$.ajax({
							url: "/TeamWork/WishMessage?"+hahaha,
							type: "GET",
							success: function(WishMessages){
								var replyText = "";
								$.ajax({
									url: "/TeamWork/WishCallback?"+hahaha,
									type: "GET",
									success: function(WishCallbacks){
											for(i=0;i<WishMessages.length;i++){
												var replyDate = new Date(WishMessages[i].wM_time);
												var photo = (WishMessages[i].member.m_photo != "")?WishMessages[i].member.m_photo:"/TeamWork/web/images/user/account/profile/001.png";
												replyText +=`
												<ul>
													<li>
														<div class="comment-main-level">
							                                <div class="comment-avatar"><img src="`+photo+`"alt=""></div>
							                                <!-- Contenedor del Comentario -->
								                                <div class="comment-box">
								                                    <div class="comment-head">
								                                        <h6 class="comment-name"><a href="`+WishMessages[i].member.m_photo+`">`+WishMessages[i].member.m_name+`</a></h6> 
								                                        <span>`+(replyDate.getYear()+1900)+"/"+(replyDate.getMonth()+1)+"/"+replyDate.getDate()+" "+((replyDate.getHours().toString().length==1)?"0"+replyDate.getHours():replyDate.getHours())+":"+((replyDate.getMinutes().toString().length==1)?"0"+replyDate.getMinutes():replyDate.getMinutes())+`</span>
								                                        <i class="fa fa-reply"></i>
								                                    </div>
								                                <div class="comment-content">`+WishMessages[i].wM_context+`</div>
							                            	</div>
							                            </div>`
						                        
					                            replyText += `<ul class="comments-list reply-list">
		                                        				<input type="hidden" class="tmp" value="`+WishMessages[i].wM_id+`">
							                            `	
					                        	for(j=0;j<WishCallbacks.length;j++){
					                        		var callBackDate = new Date(WishCallbacks[j].wC_time);
					                        		var photo2 = (WishCallbacks[j].member.m_photo != "")?WishCallbacks[j].member.m_photo:"/TeamWork/web/images/user/account/profile/001.png";
					                        		 if(WishMessages[i].wM_id == WishCallbacks[j].wM_id){
					                        			 replyText +=`
							                                    <li>
							                                        <div class="comment-avatar"><img src="`+photo2+`"
							                                                alt=""></div>
							                                        <div class="comment-box">
							                                            <div class="comment-head">
							                                                <h6 class="comment-name"><a href="http://creaticode.com/blog">`+WishCallbacks[j].member.m_name+`</a></h6>
							                                                <span>`+(callBackDate.getYear()+1900)+"/"+(callBackDate.getMonth()+1)+"/"+callBackDate.getDate()+" "+((callBackDate.getHours().toString().length==1)?"0"+callBackDate.getHours():callBackDate.getHours())+":"+((callBackDate.getMinutes().toString().length==1)?"0"+callBackDate.getMinutes():callBackDate.getMinutes())+`</span>
							                                            </div>
							                                            <div class="comment-content">`+WishCallbacks[j].wC_context+`</div>
							                                        </div>
							                                    </li>`
									                    }     
					                        	}
							                    var photo3 = (member_bean.m_photo != '')?member_bean.m_photo:'/TeamWork/web/images/user/account/profile/001.png'
					                            if(member_bean.m_id!=undefined){			                            	
								                    replyText += `
						                            	<li>
				                                        	<div class="comment-avatar"><img src="`+photo3+`"
			                                            			alt=""></div>
			                                    			<div class="comment-box">
			                                        			<div class="comment-head">
			                                            			<h6 class="comment-name"><a href="http://creaticode.com/blog">`+member_bean.m_name+`</a></h6>
			                                            			<span>`+(nowDate.getYear()+1900)+"/"+(nowDate.getMonth()+1)+"/"+nowDate.getDate()+" "+((nowDate.getHours().toString().length==1)?"0"+nowDate.getHours():nowDate.getHours())+":"+((nowDate.getMinutes().toString().length==1)?"0"+nowDate.getMinutes():nowDate.getMinutes())+`</span>
			                                        			</div>
			                                        			<div class="comment-content">
			                                        				<textarea id="reply-content" cols="50" rows="5" style="resize: none"></textarea>
			                                        			</div>
			                                        			<div><button type="button" value="submit" class="callBack">送出</button>    <button type="button" value="reset">取消</button></div>
			                                    			</div>
			                                			</li>
			                                		</ul>`; 
					                            }
											}
											var photo4 = (member_bean.m_photo != '')?member_bean.m_photo:'/TeamWork/web/images/user/account/profile/001.png';	
																											     // web/images/user/account/profile/001.png
											
											replyText += "</ul>";
											if(member_bean.m_id!=undefined){
												replyText += `
					                            	<li>
			                                        	<div class="comment-avatar"><img src="`+photo4+`"
			                                        			alt=""></div>
			                                			<div class="comment-box">
			                                    			<div class="comment-head">
			                                        			<h6 class="comment-name"><a href="http://creaticode.com/blog">`+member_bean.m_name+`</a></h6>
			                                        			<span>`+(nowDate.getYear()+1900)+"/"+(nowDate.getMonth()+1)+"/"+nowDate.getDate()+" "+((nowDate.getHours().toString().length==1)?"0"+nowDate.getHours():nowDate.getHours())+":"+((nowDate.getMinutes().toString().length==1)?"0"+nowDate.getMinutes():nowDate.getMinutes())+`</span>
			                                    			</div>
			                                    			<div class="comment-content">
			                                    				<textarea id="reply-content" cols="50" rows="5" style="resize: none"></textarea>
			                                    			</div>
			                                    			<div><button type="button" value="submit" class="reply">送出</button>    <button type="button" value="reset">取消</button></div>
			                                			</div>
			                            			</li>`; 
											}
											$("#reply-list").html(replyText);
											$(".reply").click(function(){//一般留言
												$.ajax({
													url:"/TeamWork/InsertOneWishMessage",
													type:"POST",
													async : false,
													data:{w_id:hahaha.substring(5), m_idMessage:member_bean.m_id, wM_context:$(this).parent().prev().find("textarea").val(),wM_time:nowDateFormed, wM_stateId:42},
													success: function(){
														showQandA();
													}
												})
											})
											$(".callBack").click(function(){//回覆留言
												$.ajax({
													url:"/TeamWork/InsertOneWishCallback",
													type:"POST",
													data:{wM_id:$(this).parents('.comments-list .reply-list').find('.tmp').val(), m_idCallback: member_bean.m_id , wC_context:$(this).parent().prev().find("textarea").val(), wC_time:nowDateFormed, wC_stateId:44 },
													success: function(){
														showQandA();
													}
												})
											})
									}
								})
							}
						})
					}

					$("#wish_individualAcceptablePrice").after(singlePriceContent);
					
					$("#wish_content").after("<p>"+data1.w_context+"</p>");
					$(".detail-title").text(data1.w_title);
					$("#state").text(data1.state.state_context);
					var priceText = ((wish_bean.w_sumPriceBottom!=null)?"$"+wish_bean.w_sumPriceBottom:"未設下限");
					priceText += "~"
					priceText += (wish_bean.w_sumPriceTop!=null)?"$"+wish_bean.w_sumPriceTop:"未設上限";
					if(wish_bean.w_sumPriceBottom != null || wish_bean.w_sumPriceTop != null)
						$(".detail-price").text(priceText);
					if(data1.w_sumPriceBottom == null && data1.w_sumPriceTop == null)
						$(".detail-price").text("總金額未設上下限");
				}
			})
		})	

			//加入最愛	
	function favs(){
		var fav_bean; 
		$.ajax({
    		url:"/TeamWork/FindOneWishFavoriteBean",
    		type:"POST",
    		data:{m_idFavorite:member_bean.m_id, w_id:hahaha.substring(5)},
    		success:function(data){
    			fav_bean = data[0];
    			console.log(fav_bean);
    			if($('#favorite').attr('class') == 'fa-heart far'){
    	        	$.ajax({
    	        		url:"/TeamWork/InsertOneWishFavorite",
    	        		type:"POST",
    	        		data:{m_idFavorite:member_bean.m_id, w_id:hahaha.substring(5)},
    	        		success:function(data){
    	        			$('#favorite').attr('class', 'fa-heart fas');
    	        		}
    	        	})
    			}else{
    				$.ajax({
    	        		url:"/TeamWork/DeleteOneWishFavorite",
    	        		type:"POST",
    	        		data:{wF_id:fav_bean.wF_id, m_idFavorite:fav_bean.m_idFavorite, w_id:fav_bean.w_id},
    	        		success:function(data){
    	        			$('#favorite').attr('class', 'fa-heart far');
    	        		}
    	        	})
    			}
    		}
    	})
	}
	function bidPost(){
		$.ajax({
   			url:"/TeamWork/InsertOneBid",
   			type:"POST",
   			data:{w_id:hahaha.substring(5), m_idBid:member_bean.m_id, wB_bid:$("#reply-price").val(), wB_context:$("#reply-content").val(), wB_time:nowDateFormed, wB_stateId:34},
   			success:function(data){
   				console.log(data);
   				showBid();
   			}
   		})
	}
	function showBid(){
		$.ajax({
			url: "/TeamWork/FindAllBid?"+hahaha,
			type: "GET",
			success: function(bids){
				console.log(bids);
				if(bids.length!=0){
				var bidText="";
				var starsAssess="";
				var photo = (member_bean.m_photo != "")?member_bean.m_photo:"/TeamWork/web/images/user/account/profile/001.png";
				
				for(i=0;i<bids.length;i++){
					var bidDate = new Date(bids[i].wB_time);
					bidDate = (bidDate.getYear()+1900)+"/"+(bidDate.getMonth()+1)+"/"+bidDate.getDate()+" "+((bidDate.getHours().toString().length==1)?"0"+bidDate.getHours():bidDate.getHours())+":"+((bidDate.getMinutes().toString().length==1)?"0"+bidDate.getMinutes():bidDate.getMinutes());
					var starsCount = bids[i].member.m_wishAssessSum;
					var starsText = "";
					
                	for(k=5;k>starsCount;k--)	
                		starsText += '<i class="far fa-star fa-star-score"></i>'
					for(m=1;m<starsCount;m++)
                		starsText += '<i class="fas fa-star fa-star-score"></i>'
               		var photo = (bids[i].member.m_photo != "")?bids[i].member.m_photo:"/TeamWork/web/images/user/account/profile/001.png";
//                 	if(member_bean.m_id != bids[i].wish.member.m_id){
						
                		bidText += `
							<li>
                        	<div class="comment-main-level">
                            	<div class="comment-avatar">
                            		<img src="`+photo+`"alt="">
                            		<input type="button" class="btn btn-sm btn-outline-info selectMe" id="bids`+i+`" value="選我" style="visibility:hidden">
                            		<i class="fas fa-shopping-bag" title="由我完成!" style="visibility:hidden"></i>
                            	</div>
                            	<div class="comment-box">
                                	<div class="comment-head">
                                 	    <h6 class="comment-name" name="`+bids[i].member.m_id+`"><a href="http://creaticode.com/blog">`+bids[i].member.m_name+`</a></h6>
                                    	<span>`+bidDate+`</span>`+starsText+`
                                	</div>
                                	<div class="comment-content">`+
                                		bids[i].wB_context+
                                	`</div>
                                	<div class="comment-content orderPrice" value=`+bids[i].wB_bid+`>價碼: `+
                                		bids[i].wB_bid+
                                	`</div>
                           	 	</div>
                        	</div>
                    		</li>`  
//                 	}
				
				}
				if(member_bean.m_id != bids[0].wish.member.m_id){
					var examDup = false;
					for(n=0;n<bids.length;n++){
						if(member_bean.m_id == bids[n].member.m_id){
							examDup = true;	
						}
					}
					if(examDup == false && member_bean.m_id != null){
						bidText += `
							<li>
	                    	<div class="comment-main-level">
	                        	<div class="comment-avatar"><img src="`+photo+`"alt=""></div>
	                        	<div class="comment-box">
	                            	<div class="comment-head">
	                             	    <h6 class="comment-name"><a href="http://creaticode.com/blog">`+member_bean.m_name+`</a></h6>
	                                	<span>`+bidDate+`</span>`+starsText+`
	                            	</div>
	                            	<div class="comment-content">
	                            		<textarea id="reply-content" cols="50" rows="5" style="resize: none"></textarea>
	                            	</div>
	                            	<div class="comment-content">
	                            		出價 : 
	                            		<textarea id="reply-price" cols="50" rows="1" style="resize: none"></textarea>
	                            	</div>
	                            	<div><button type="button" id="reply" onclick=bidPost()>我要出價</button>    <button type="button" value="reset">取消</button></div>
	                       	 	</div>
	                    	</div>
	                		</li>` 
					}
				}
				$("#comments-list").html(bidText);
				if(isAuthor && bids[0].wish.w_stateId==28){
// 					$(idSelect).css("visibility","visible");
					for(o=0;o<bids.length;o++){
						var idSelect = "#bids"+o;
						$(idSelect).css("visibility","visible");
						$("#bids"+o).click(function(){
							console.log($(this).parent().next().first().find(".comment-name").attr("name"));
							$.ajax({
								url:"/TeamWork/InsertOneWishOrder",
								type:"POST",
								data:{w_id:hahaha.substring(5), m_idOrder:$(this).parent().next().first().find(".comment-name").attr("name"), wO_sumPrice:$(this).parent().next().find(".orderPrice").attr("value"), wO_time:nowDateFormed, wO_stateId:38},
								success:function(wishOrder){
									console.log(wishOrder);
								}
							})
							$.ajax({
								url:"/TeamWork/UpdateOneWish",
								type:"POST",
								data:{w_id:hahaha.substring(5), m_id:wish_bean.m_id, p_id:wish_bean.p_id, w_title:wish_bean.w_title, w_context:wish_bean.w_context, d_id:wish_bean.d_id, w_startDate:formDate(wish_bean.w_startDate), w_endDate:nowDateFormed, w_sumPriceBottom:wish_bean.w_sumPriceBottom, w_sumPriceTop:wish_bean.w_sumPriceTop, w_changeTime:nowDateFormed, w_hot:wish_bean.w_hot, w_amountFavorite:wish_bean.w_amountFavorite, w_completeTime:nowDateFormed, w_stateId:29},
								success:function(Wish){
									console.log(Wish);
// 									alert("wish updated");
									window.location.reload();
								},
								error:function(){
// 									alert("error");
									console.log(wish_bean.w_startDate);
								}
							})
							//尚須更新wish狀態
							
						})
					}
				}
				
				if(bidState!=28){
// 					alert("button in ")
					$(".selectMe").attr("disabled", "disabled");
				}
			}
		}
		})	
	}	
	function formDate(time){
		time = new Date();
		return (time.getYear()+1900)+"/"+(time.getMonth()+1)+"/"+time.getDate()+" "+((time.getHours().toString().length==1)?"0"+time.getHours():time.getHours())+":"+((time.getMinutes().toString().length==1)?"0"+time.getMinutes():time.getMinutes());
	}
	</script>

</head>

<body>
    <!-- header -->
	<div id="header"></div>
	<div id="header-search"></div>
	
    <div class="container">
        <div class="row product-quick-view">
            <div class="col-lg-6">
                <!-- <div class="detail-big-pic" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310)"></div> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
						<div class="carousel-item active">
							<img id="img-1" class="d-block w-100"
								src="/TeamWork/web/images/others/load.gif"
								alt="First slide">
						</div>
						<div class="carousel-item">
							<img id="img-2" class="d-block w-100"
								src="/TeamWork/web/images/others/load.gif"
								alt="Second slide">
						</div>
						<div class="carousel-item">
							<img id="img-3" class="d-block w-100"
								src="/TeamWork/web/images/others/load.gif"
								alt="Third slide">
						</div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 product-top">
                <h3 class="detail-title" >快速出貨 韓版黑白橫條短袖ㄒ恤【F0225 500】現貨</h3>
<!--                 <i class="fas fa-star fa-star-score"></i> -->
<!--                 <i class="fas fa-star fa-star-score"></i> -->
<!--                 <i class="fas fa-star fa-star-score"></i> -->
<!--                 <i class="far fa-star fa-star-score"></i> -->
<!--                 <i class="far fa-star fa-star-score"></i> -->
                <span class="star-score" id="state">狀態</span>
<!--                 <span class="sell-text">銷售量</span> -->
<!--                 <span class="sell-count"> 3581</span> -->
                <h4 class="detail-price"></h4>
<!--                 <h6>可接受底價</h6> -->
<!--                 <h6>可接受頂價</h6> -->
                <h6><i class="fa-heart far" id="favorite" onclick="favs()"></i>&nbsp;加到最愛</h6>
                <button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#exampleModalCenter">檢舉</button>
<!--                 <button type="button" class="btn btn-outline-info" style="width:48%">加入購物車</button> -->
<!--                 <button type="button" class="btn btn-outline-info" style="width:48%">直接購買</button> -->

            </div>
        </div>
        <!-- 分頁標籤 -->
        <ul class="nav nav-tabs" id="productTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="detail-information-tab" data-toggle="tab" href="#detail-information"
                    role="tab" aria-controls="detail-information" aria-selected="true">詳細資訊
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="buyer-comment-tab" data-toggle="tab" href="#buyer-comment" role="tab"
                    aria-controls="buyer-comment" aria-selected="false">我要出價
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="qustion-answer-tab" data-toggle="tab" href="#qustion-answer" role="tab"
                    aria-controls="qustion-answer" aria-selected="false">問與答
                </a>
            </li>
        </ul>
        <div class="tab-content" id="productContent">
            <div class="tab-pane fade show active" id="detail-information" role="tabpanel" aria-labelledby="detail-information-tab">
                <!-- 分頁-詳細資訊 -->
                <h5 class="detail-des-title" id="wish_district">許願地區</h5>
                
                


                <h5 class="detail-des-title" id="wish_content">許願內容</h5>
            </div>
            <div class="tab-pane fade" id="buyer-comment" role="tabpanel" aria-labelledby="buyer-comment-tab">
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                        alt=""></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                        <span>hace 20 minutos</span>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <input type="radio" name="seller">
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                        alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="far fa-star fa-star-score"></i>
                                        <i class="far fa-star fa-star-score"></i>
                                        <input type="radio" name="seller">
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="qustion-answer" role="tabpanel" aria-labelledby="qustion-answer-tab">
                <div class="comments-container">
                    <ul id="reply-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                        alt=""></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                        <span>hace 20 minutos</span>
                                        <i class="fa fa-reply"></i>
                                    </div>
                                    <div class="comment-content">
                                        1好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>
                                </div>
                            </div>

                            <ul class="comments-list reply-list" >
                                <li>
                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                            alt=""></div>

                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            2好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                            alt=""></div>
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            3好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                        alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fa fa-reply"></i>
                                    </div>
                                    <div class="comment-content">
                                        4好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<!--         <div class="hot-sale" style="box-shadow:2px 2px 10px gray; padding:1rem; margin-top:2rem; display:flex; align-items:center;">相關商品start -->
<!--         	<input type="button" name="last" id="last" value="<"> -->
        	
<!--         	<ul style="display:flex; justify-content:space-around; margin-bottom:0; width:98%;"> -->
<!--         		<li class="hotSale-box" id="1"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			1 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="2"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			2 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="3"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			3 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="4"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			4 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="5" class="hotSale-box" id="5" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			5 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="6" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			6 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li  class="hotSale-box" id="7" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			7 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li  class="hotSale-box" id="8" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			8 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="9" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			9 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="10" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			10 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="11" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			11 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         		<li class="hotSale-box" id="12" style="display:none"> -->
<!--         			<div> -->
<!--         			<img src="../images/product/001.jpg" height="150px" width="150px"> -->
<!--         			12 -->
<!--         			</div> -->
<!--         		</li> -->
<!--         	</ul> -->
<!--         	<input type="button" name="next" id="next" value=">" > -->
<!--         </div>相關商品end -->
    </div> <!-- end of container -->
    <div class="contaminer-fluid">
        <!-- start of footer -->
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li>
                            <img src="../images/social/facebook.png">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <img src="../images/social/instagram.png">
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <img src="../images/social/line.png">
                            <a href="#">LINE</a>
                        </li>
                        <li>
                            <img src="../images/social/linkedin.png">
                            <a href="#">
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->
	<div id="live-chat"></div>
<!--     <div id="live-chat"> -->
<!--         <header class="clearfix"> -->
<!--             關閉的叉叉 -->
<!--             <a href="#" class="chat-close">x</a> -->
<!--             <h4>客服小幫手</h4> -->
<!--             <span class="chat-message-counter">3</span> -->
<!--         </header> -->
<!--         <div class="chat"> -->
<!--             <div class="chat-history"> -->
<!--                 <div class="chat-message clearfix"> -->
<!--                     <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" -->
<!--                         height="32"> -->
<!--                     <div class="chat-message-content clearfix"> -->
<!--                         <span class="chat-time">13:35</span> -->
<!--                         <h5>可愛阿美姊</h5> -->
<!--                         <p>請問您有什麼問題嗎，可以趕快問我喔!</p> -->
<!--                     </div> end chat-message-content -->
<!--                 </div> end chat-message -->
<!--                 <hr> -->
<!--                 <div class="chat-message clearfix"> -->
<!--                     <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" -->
<!--                         height="32"> -->
<!--                     <div class="chat-message-content clearfix"> -->
<!--                         <span class="chat-time">13:37</span> -->
<!--                         <h5>可愛阿美姊</h5> -->
<!--                         <p>這款已經是每個韓妹人手一件了，之後又給你們追蹤到新色 豆沙紅 繡紅色 天藍色。</p> -->
<!--                     </div> end chat-message-content -->
<!--                 </div> end chat-message -->
<!--                 <hr> -->
<!--                 <div class="chat-message clearfix"> -->
<!--                     <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32"> -->
<!--                     <div class="chat-message-content clearfix"> -->
<!--                         <span class="chat-time">13:38</span> -->
<!--                         <h5>顧客林小姐</h5> -->
<!--                         <p>是喔，很好喔讚讚讚讚!</p> -->
<!--                     </div> end chat-message-content -->
<!--                 </div> end chat-message -->
<!--                 <hr> -->
<!--             </div> end chat-history -->
<!--             <p class="chat-feedback">Your partner is typing…</p> -->
<!--             <form action="#" method="post"> -->
<!--                 <fieldset> -->
<!--                     <input type="text" placeholder="Type your message…" autofocus> -->
<!--                     <input type="hidden"> -->
<!--                 </fieldset> -->
<!--             </form> -->
<!--         </div> end chat -->
<!--     </div> -->
     <!-- end live-chat -->
    <!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">請輸入您的檢舉內容:</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<textarea id="report-content" cols="50" rows="5"
						style="resize: none"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="report-submit">送出</button>
				</div>
			</div>
		</div>
	</div>
    <!-- Optional JavaScript -->
    <script src="../js/heacerinclude.js"></script>
	<script src="../js/headersearchinclude.js"></script>
    <script src="../js/main.js"></script>
    <!-- Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
        <script src="../js/livechartinclude.js"></script>
</body>

</html>