<!doctype html>
<html lang="en">

<head>

    <title>(許願)商品詳情</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/others/web-icon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- main CSS -->
    <link rel="stylesheet" href="../style/main.css">
    <!-- jQuery first -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="../js/jquery.func_toggle.js"></script>
	<script>
		$(function(){
			$('.fa-heart').funcToggle('click', 
	            function() {
	                    $(this).removeClass("far");
	                    $(this).addClass("fas");
	            },function(){
	                    $(this).removeClass("fas");
	                    $(this).addClass("far");
	        })
		})
		
		var head = 0;
		var tail = 3;
		var slideNo = document.getElementsByClassName("hotSale-box");
		$(function(){			
			$("#next").click(function(){
				for(i=0;i<slideNo.length;i++){
					slideNo[i].style.display = "none";
				}
				tail += 4;
				if(tail>11){
					tail = 3;
				}
				for(j=tail;j>tail-4;j--){
					slideNo[j].style.display = "block";					
				}
			})	
			
			$("#last").click(function(){
				for(i=0;i<slideNo.length;i++){
					slideNo[i].style.display = "none";
				}
				tail -= 4;
				if(tail<0){
					tail = 11;
				}
				for(j=tail-3;j<=tail;j++){
					slideNo[j].style.display = "block";					
				}
			})
		})		
	</script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <a class="navbar-brand" href="#">DayDayGo!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#"><i class="fas fa-star icon"></i>許願池 Wish Pool</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-gift icon"></i>限時團購 Together</a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-store icon"></i>購物商城 Shopping store</a></li>

            </ul>
            <!-- Button trigger modal -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="form_login.html">
                        <i class="fas fa-user-circle icon"></i>會員登入 Member login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="belowNavbar">
        <div class="container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">項目</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">許願池</a>
                        <a class="dropdown-item" href="#">限時團購</a>
                        <a class="dropdown-item" href="#">購物商城</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div><!-- end of container -->
    </div>

    <div class="container">
        <div class="row product-quick-view">
            <div class="col-lg-6">
                <!-- <div class="detail-big-pic" style="background-image: url(https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310)"></div> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://s3-ap-northeast-1.amazonaws.com/zeczec-prod/asset_63504_image_big.jpg?1538642310"
                                alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 product-top">
                <h3 class="detail-title">快速出貨 韓版黑白橫條短袖ㄒ恤【F0225 500】現貨</h3>
                <i class="fas fa-star fa-star-score"></i>
                <i class="fas fa-star fa-star-score"></i>
                <i class="fas fa-star fa-star-score"></i>
                <i class="far fa-star fa-star-score"></i>
                <i class="far fa-star fa-star-score"></i>
                <span class="star-score">4.8</span>
                <span class="sell-text">銷售量</span>
                <span class="sell-count"> 3581</span>
                <h4 class="detail-price">$350</h4>
                <h6>規格</h6>
                <h6>數量</h6>
                <h6><i class="far fa-heart"></i>&nbsp;加到最愛</h6>
                <button type="button" class="btn btn-outline-info" style="width:48%">加入購物車</button>
                <button type="button" class="btn btn-outline-info" style="width:48%">直接購買</button>

            </div>
        </div>
        <!-- 分頁標籤 -->
        <ul class="nav nav-tabs" id="productTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="detail-information-tab" data-toggle="tab" href="#detail-information"
                    role="tab" aria-controls="detail-information" aria-selected="true">詳細資訊
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="buyer-comment-tab" data-toggle="tab" href="#buyer-comment" role="tab"
                    aria-controls="buyer-comment" aria-selected="false">我要出價
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="qustion-answer-tab" data-toggle="tab" href="#qustion-answer" role="tab"
                    aria-controls="qustion-answer" aria-selected="false">問與答
                </a>
            </li>
        </ul>
        <div class="tab-content" id="productContent">
            <div class="tab-pane fade show active" id="detail-information" role="tabpanel" aria-labelledby="detail-information-tab">
                <!-- 分頁-詳細資訊 -->
                <h5 class="detail-des-title">商品規格</h5>


                <h5 class="detail-des-title">商品詳情</h5>
                <p>這款已經是每個韓妹人手一件了，之後又給你們追蹤到新色 豆沙紅 繡紅色 天藍色，光12個顏色我們小編們就自留了8色，不易起球、不易變形、材質舒服親膚</p>
                <p>秋冬搭配都很適合，冷一點裡面搭配襯衫等等的，判決指出，牟恩廣主張與妻子在民國102年結婚，但他們婚後並未共同生活，自己回到台灣的期間，都住在台北晶華酒店，從未與她同居，夫妻之情蕩然無存，已無維持婚姻關係的主觀意願及客觀實益。</p>
                <p>法官審理後認為，牟男雖因工作長期滯留外地生活，而與妻子分居兩地，然而多年來兩造生活甚少交集，夫妻感情維繫困難，分居期間也未見他們積極維繫婚姻及感情，原告訴請離婚洵屬有據。</p>
                <p>此外牟恩廣為化解紛爭，決意以「好散」的方式離婚，更請求在判決書內，避免以口出惡言方式，記載任何攻擊防禦方法；北院為達到家事法庭圓融解決家事紛爭及司法為民的理念，以簡易方式記載做出判決，圓領毛衣不限身形
                    穿上都百搭👍👍</p>
            </div>
            <div class="tab-pane fade" id="buyer-comment" role="tabpanel" aria-labelledby="buyer-comment-tab">
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                        alt=""></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                        <span>hace 20 minutos</span>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <input type="radio" name="seller">
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                        alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="fas fa-star fa-star-score"></i>
                                        <i class="far fa-star fa-star-score"></i>
                                        <i class="far fa-star fa-star-score"></i>
                                        <input type="radio" name="seller">
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="qustion-answer" role="tabpanel" aria-labelledby="qustion-answer-tab">
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                        alt=""></div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                        <span>hace 20 minutos</span>
                                        <i class="fa fa-reply"></i>
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>
                                </div>
                            </div>

                            <ul class="comments-list reply-list">
                                <li>
                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                            alt=""></div>

                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                            alt=""></div>
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">可愛兔兔</a></h6>
                                            <span>hace 10 minutos</span>
                                        </div>
                                        <div class="comment-content">
                                            好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="comment-main-level">
                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                        alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="http://creaticode.com/blog">淘氣貓貓</a></h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fa fa-reply"></i>
                                    </div>
                                    <div class="comment-content">
                                        好寫筆芯讓書寫多了更多樂趣,精緻的圖案筆身,讓靈感及時被留住,每支雙頭雙色設計,每組2支入共四色,共三色筆芯為0.38mm+一色筆芯1mm螢光黃色,讓你靈感創作多多
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hot-sale" style="box-shadow:2px 2px 10px gray; padding:1rem; margin-top:2rem; display:flex; align-items:center;"><!--相關商品start-->
        	<input type="button" name="last" id="last" value="<">
        	
        	<ul style="display:flex; justify-content:space-around; margin-bottom:0; width:98%;">
        		<li class="hotSale-box" id="1">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			1
        			</div>
        		</li>
        		<li class="hotSale-box" id="2">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			2
        			</div>
        		</li>
        		<li class="hotSale-box" id="3">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			3
        			</div>
        		</li>
        		<li class="hotSale-box" id="4">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			4
        			</div>
        		</li>
        		<li class="hotSale-box" id="5" class="hotSale-box" id="5" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			5
        			</div>
        		</li>
        		<li class="hotSale-box" id="6" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			6
        			</div>
        		</li>
        		<li  class="hotSale-box" id="7" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			7
        			</div>
        		</li>
        		<li  class="hotSale-box" id="8" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			8
        			</div>
        		</li>
        		<li class="hotSale-box" id="9" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			9
        			</div>
        		</li>
        		<li class="hotSale-box" id="10" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			10
        			</div>
        		</li>
        		<li class="hotSale-box" id="11" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			11
        			</div>
        		</li>
        		<li class="hotSale-box" id="12" style="display:none">
        			<div>
        			<img src="../images/product/001.jpg" height="150px" width="150px">
        			12
        			</div>
        		</li>
        	</ul>
        	<input type="button" name="next" id="next" value=">" >
        </div><!--相關商品end-->
    </div> <!-- end of container -->
    <div class="contaminer-fluid">
        <!-- start of footer -->
        <div class="container">
            <div class="row">
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">客服中心</div>
                    <ul class="footer-category-list">
                        <li><a href="#">幫助中心</a></li>
                        <li><a href="#">購物商城</a></li>
                        <li><a href="#">付款方式</a></li>
                        <li><a href="#">運費補助</a></li>
                        <li><a href="#">退貨退款</a></li>
                        <li><a href="#">我們承諾</a></li>
                        <li><a href="#">聯絡客服</a></li>
                    </ul>
                </div>
                <div class="footer-part col-lg-2">
                    <div class="footer-category-name">關注我們</div>
                    <ul class="footer-category-list">
                        <li>
                            <img src="../images/social/facebook.png">
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <img src="../images/social/instagram.png">
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <img src="../images/social/line.png">
                            <a href="#">LINE</a>
                        </li>
                        <li>
                            <img src="../images/social/linkedin.png">
                            <a href="#">
                                Linkedin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end of footer -->

    <div id="live-chat">
        <header class="clearfix">
            <!-- 關閉的叉叉 -->
            <!-- <a href="#" class="chat-close">x</a> -->
            <h4>客服小幫手</h4>
            <span class="chat-message-counter">3</span>
        </header>
        <div class="chat">
            <div class="chat-history">
                <div class="chat-message clearfix">
                    <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32"
                        height="32">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">13:35</span>
                        <h5>可愛阿美姊</h5>
                        <p>請問您有什麼問題嗎，可以趕快問我喔!</p>
                    </div> <!-- end chat-message-content -->
                </div> <!-- end chat-message -->
                <hr>
                <div class="chat-message clearfix">
                    <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32"
                        height="32">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">13:37</span>
                        <h5>可愛阿美姊</h5>
                        <p>這款已經是每個韓妹人手一件了，之後又給你們追蹤到新色 豆沙紅 繡紅色 天藍色。</p>
                    </div> <!-- end chat-message-content -->
                </div> <!-- end chat-message -->
                <hr>
                <div class="chat-message clearfix">
                    <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
                    <div class="chat-message-content clearfix">
                        <span class="chat-time">13:38</span>
                        <h5>顧客林小姐</h5>
                        <p>是喔，很好喔讚讚讚讚!</p>
                    </div> <!-- end chat-message-content -->
                </div> <!-- end chat-message -->
                <hr>
            </div> <!-- end chat-history -->
            <p class="chat-feedback">Your partner is typing…</p>
            <form action="#" method="post">
                <fieldset>
                    <input type="text" placeholder="Type your message…" autofocus>
                    <input type="hidden">
                </fieldset>
            </form>
        </div> <!-- end chat -->
    </div> <!-- end live-chat -->

    <!-- Optional JavaScript -->
    <script src="../js/main.js"></script>
    <!-- Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>