
*{	
	
    font-family: 微軟正黑體;
    transition-duration: 0.5s;
}

/*navbar*/
.icon{
	margin-right: 0.4em;
}
.navbar {
	background-color: #346cb0;
    font-weight: bold;
    height: 3.8rem;
}
.bg-yellow {
    /*自定義導覽列背景顏色*/
    background-color: rgb(248, 201, 46);
}
.nav-link {
	margin-right: 1.2em;
	margin-left: 1.2em;
}
input.nav-link{
	background-color: transparent;
	font-weight: bold;
	transform: translateY(1px);
	cursor: pointer;
	/* display: none; */
}

.title {
	font-weight: bold;
	margin-bottom: 1em;
}
.belowNavbar {
    background-color: rgb(248, 201, 46);
    width: 100%;
    margin: 0;
    padding: 0.2em;
}
/*form*/
form {
    margin-top: 1.5em;
}
.filter-button {
	width: 100%;
	margin-top: 20px;
}
/*card*/
.card-search {
    cursor: pointer;
}
.card-search:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.row-card>.col-lg-3 {
    padding: 10px;
    margin-top: 1em;
}
h5.card-title {
    font-weight: bold;
}
p.card-text {
    font-size: 0.9rem;
}
.fa-star-score {
    /*評分星星的顏色*/
    color:#ffce3d;
}
.star-score {
    color:#ffce3d;
    font-weight: bold;
    font-size: 1.5rem;
}
.sell-text {
	color:#525abb;
	padding-right: 5px;
	padding-left: 5px;
}
.sell-count {
	color:#525abb;
    font-weight: bold;
    font-size: 1.5rem;
}
.fa-sell-count {
	color:#525abb;
}
.card-small-text {
    font-size: 0.9rem;
    display: inline;
}
.fa-heart {
    color: #d0011b;
}

/*詳細商品資料*/
.product-quick-view{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.detail-title{
    
    font-weight: bold;
}
.detail-price{
    color:#ffce3d;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.product-detail-pic {
    border: solid 1px gray;
}
.detail-big-pic {
    border: solid gray 1px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-size:  cover;
    background-repeat: no-repeat;
}
.hotSale-box{
			border: 1px solid gray;
			margin: auto;			
		}

/*分頁標籤*/
.nav-tabs li.nav-item>a {
    margin: 0;
}
.tab-pane>p{
    padding-left: 1rem;
    letter-spacing: 0.5px;
    color:#474747;
}
.detail-des-title{
    background-color: rgba(0,0,0,.02);
    padding: 1rem;
    font-weight: bold;
}
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}



.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
    float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
}
.comment-box .comment-head i.fa-reply {
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.comment-box .comment-head i.fa-reply:hover {
	color: #03658c;
}




.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

/* ---------- GENERAL ---------- */


a { text-decoration: none; }

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

h4, h5 {
	line-height: 1.5em;
	margin: 0;
}

hr {
	background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- 客服對話視窗 ---------- */

#live-chat {
	bottom: 0;
	font-size: 12px;
	right: 24px;
	position: fixed;
	width: 300px;
}

#live-chat header {
	background: #525abb;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 1rem;
}

#live-chat h5 {
	font-size: 0.8rem;
}

#live-chat form {
	padding: 24px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 234px;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

/* .chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
} */

.chat {
	background: #fff;
}

.chat-history {
	height: 252px;
	padding: 8px 24px;
	overflow-y: scroll;
}

.chat-message {
	margin: 16px 0;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 10px 0 0 80px;
}

/*user-page*/
.user-page-slidebar {
	margin-top: 1.8rem;
}
.user-page-brief{
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: solid 3px #ffce3d;
	padding-bottom: 20px;
}
.user-avatar_placeholder{
	margin-right: 20px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
	margin: 25px;
}
.user-page-brief__username {
	text-align: center;
	margin: 5px;
}
a.user-page-brief__edit{
	text-decoration: none;
	font-size: 14px;
	color: rgb(136,136,136);
	letter-spacing: 1px;
}
a.user-page-brief__edit i {
	margin-right: 5px;
}
.userpage-sidebar-menu {

}

a.userpage-sidebar-menu_item {
	padding: 5px;
	text-decoration: none;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}
.userpage-sidebar-menu-icon img {
	width: 30px;
	margin-right: 10px;
	margin-left: 15px;
}
.userpage-sidebar-menu-text {
	font-size: 0.92rem;
}
.purchase-list-page_tabs-container{
	margin-top: 2.5rem;
}
.purchase-list-page_tab {
	font-weight: bold;
	color: #525abb;
	background-color: rgb(247, 247, 247);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border-bottom: solid 1px #525abb;
}

.purchase-list-page_tab:hover {
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #525abb;
	color: #fff;
}

.container-wrapper {
	min-height: 500px;
	min-width: 100%;;
	background-color: rgb(247, 247, 247);
} 
 

/*進度條*/
.progress{
	margin-top: 20px;
}
.progress-bar {
	background-color: #525abb;
}

/*footer*/
.contaminer-fluid{
	background-color: rgb(247, 247, 247);
	min-height: 200px;
	margin-top: 2rem;
	padding: 3rem;
}
.footer-category-name {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 0.9rem;
	color: #595959;
}
.footer-category-list>li {
	margin-bottom: 0.2rem;
}
.footer-category-list>li>img {
	width: 15px;
	display: inline-block;
	margin-right: 5px;
}
.footer-category-list>li>a {
	color: #999;
	text-decoration: none;
	font-size: 0.85rem;
	letter-spacing: 1px;
}

<<<<<<< HEAD
option.dropdown-item {
	background-color: #fff;
	appearance: none;
	border: none;
    
}

.form-control{
	margin-top: 2px;
	margin-bottom: 5px;
}

.btn .btn-outline-warning .filter-button {
	margin-top: 20px;
	
}
=======




















/*會員中心-我的帳戶*/
.user-page_wrapper {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background-color: rgb(250, 250, 250);
	margin-top: 2rem;
	padding: 3rem;
}
.my-account_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #525abb;
	color: #525abb;
}
.my-account_header>h2 {
	margin: 15px;
	font-size: 1.5rem;
	font-weight: bold;
}
.my-account_content {
	display: flex;
}
.my-account-profile_left {
	padding-left: 3rem;
	width: 60%;
	border-right: #525abb 1px solid;
}
.my-account-profile_right {

	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.col-form-label {
	font-size: 1rem;
	color: #525abb;
	text-align: right;
}
.userSubmitBtn {
	background-color: #525abb;
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.avatar-uploader__avatar>img{
	width: 100%;
}
.avatar-uploader__avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: 1rem;
}
.avatar-uploader_text {
	color: #595959;
	margin-top: 6px;
	font-size: 1rem;
}
#userSubmitInput {
	display: none;
}

#form-step-2,#form-step-3{
	display: none;
  }
>>>>>>> branch 'master' of https://github.com/EEIT10306/FinalShop.git
