
/*user-page*/
.user-page-slidebar {
	margin-top: 1.8rem;
}
body{
	margin: 0;
	padding: 0;
}
.user-page-brief{
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: solid 3px #ffce3d;
	padding-bottom: 10px;
}
.user-avatar_placeholder{
	margin-right: 20px;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
	margin: 25px;
}
.user-avatar_placeholder>img{
	width: 100%;
}
.user-page-brief__username {
	text-align: center;
	margin: 5px;
}
a.user-page-brief__edit{
	text-decoration: none;
	font-size: 14px;
	color: rgb(136,136,136);
	letter-spacing: 1px;
}
a.user-page-brief__edit i {
	margin-right: 5px;
}
.user-page-brief__coin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: serif;
	color: #e09c08;
	font-weight: bold;
}
.userpage-sidebar-menu {

}

a.userpage-sidebar-menu_item {
	padding: 1px;
	text-decoration: none;
	display: none;
	/* display: flex; */
	flex-direction: row;
	align-items: center;

}
.userpage-sidebar-menu_item-head {
	padding: 2px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	color: #03658C;
}
a.userpage-sidebar-menu_item-head{
	text-decoration: none;
}

.userpage-sidebar-menu-icon img {
	width: 30px;
	margin-right: 10px;
	margin-left: 15px;
}
.userpage-sidebar-menu-text {
	font-size: 0.92rem;
}
.purchase-list-page_tabs-container{
	margin-top: 2.5rem;
}

/*頁籤-紫色*/
.purchase-list-page_tab {
	font-weight: bold;
	color: #525abb;
	background-color: rgb(247, 247, 247);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border-bottom: solid 1px #525abb;
	transition-duration: 0.5s;
}

.tab_lock {
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #525abb;
	color: #fff;
	
}
.purchase-list-page_tab:hover {
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #525abb;
	color: #fff;
}

/*頁籤-藍色*/
.purchase-list-page_tab2 {
	font-weight: bold;
	color: #1e5793;
	background-color: rgb(247, 247, 247);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border-bottom: solid 1px #1e5793;
	transition-duration: 0.5s;
}

.tab_lock2 {
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #1e5793;
	color: #fff;
	
}
.purchase-list-page_tab2:hover {
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background-color: #1e5793;
	color: #fff;
}

.container-wrapper {
	padding-top: 2rem;
	padding-bottom: 2rem;
	min-height: 500px;
	min-width: 100%;;
	background-color: rgb(247, 247, 247);
} 
/*會員中心-我的帳戶*/
#my-account_form{
	display: flex;
	flex-direction: column;
}
.user-page_wrapper {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background-color: rgb(250, 250, 250);
	margin-top: 2rem;
	padding: 3rem;
}
.my-account_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #525abb;
	color: #525abb;
}
.my-account_header>h2 {
	margin: 15px;
	font-size: 1.5rem;
	font-weight: bold;
}
.my-account_content {
	display: flex;
}
.my-account-profile_left {
	padding-left: 3rem;
	padding-right: 5rem;
	width: 60%;
	border-right: #525abb 1px solid;
}
.my-account-profile_right {

	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.col-form-label {
	font-size: 1rem;
	color: #525abb;
	text-align: right;
}
.userSubmitBtn {
	background-color: #525abb;
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.userSubmitBtn:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.avatar-uploader__avatar>img{
	width: 100%;
}
.avatar-uploader__avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: 1rem;
}
.avatar-uploader_text {
	color: #595959;
	margin-top: 6px;
	font-size: 1rem;
}
#selectProfile {
	display: none;
}

#form-step-2,#form-step-3{
	display: none;
  }

/*空*/
.empty {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.empty>* {
	color: #595959;
	font-size: 15px;
	font-weight: bold;
}
.empty>p{
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.empty img{
	margin-bottom: 20px;
	width: 100px;
}
/*會員中心-賣家驗證*/
.seller-verify_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #525abb;
	color: #525abb;
}
.seller-verify_header>h2 {
	margin: 15px;
	font-size: 1.3rem;
	font-weight: bold;
}
.step{
	color: #999;
	font-weight: normal;
}
.seller-verify_content {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.form-wrapper>.section {
	padding-right: 15rem;
	padding-left: 2rem;
}

.seller-verify_btn {
	color: #525abb;
	border: #525abb solid 1px;
	background-color: transparent;
	padding: 5px 20px;
	width: 100%;
	transition-duration: 0.5s;
  }
  .seller-verify_btn:hover {
	  color: #fff;
	  background-color: #525abb;
  }


    /*更改placaholder樣式*/
  ::-webkit-input-placeholder {
	color: #A6A6A6;
	font-size: 0.9rem;
  }
  :-moz-placeholder {/* Firefox 18- */
	color: #A6A6A6;
	font-size: 0.9rem;
  }
  ::-moz-placeholder{/* Firefox 19+ */
	color: #A6A6A6;
	font-size: 0.9rem;
  }
  :-ms-input-placeholder {
	color: #A6A6A6;
	font-size: 0.9rem;
  }
  select.form-control {
	color: #595959;
	font-size: 0.9rem;
  }

  .form-wrapper {
      margin-top: 50px;
  }
  .stepControlRow {
      padding-top: 1.5rem;
  }
  textarea{
      resize: none;
	}
	
	/*商品訂單紀錄*/
	.order-card {
		border: solid 1px rgb(218, 218, 218);
		padding-right: 2rem;
		padding-left: 2rem;
		margin: 1rem 3rem;
		overflow: hidden;
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		transition-duration: 0.5s;
	}
	.order-card:hover {
		border: solid 1px #525abb;
		background-color: rgba(255,255,255,0.8);
		box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
		
	}
	.order-content_header {
		color: #595959;
		padding: 0.7rem 2rem;
		border-bottom: 1px solid #a1a1a1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.order-content-header_left {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.seller-pic {
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 20px;
	}
	.item-image {
		background-repeat: no-repeat;
    	background-position: 50% 50%;
		background-image: url(../images/user/product/001.jpg);
		background-size: contain;
		width: 100px;
		height: 100px;
		overflow: hidden;
		box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	}
	
	.seller-name {
		font-size: 1rem;
		font-weight: bold;
		padding-left: 15px;
	}
	.item-detail {
		margin-left: 2rem;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-around;
	}
	.order-content_item {
		padding: 1rem 2rem 2rem 2rem;
		color: #595959;
	}
	.item-name {
		font-weight: bold;
		font-size: 1.2rem;
		letter-spacing: 1px;
		margin-bottom: 0.8rem;
	}
	.item-misc {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.misc {
		margin-right: 2.5rem;
	}
	.singlePrice {
		color: #595959;
		margin-top: 10PX;
		margin-bottom: 10PX;
	}
	.total {
		font-size: 2rem;
		color: #d0011b;
		font-weight: bold;
		padding-right: 20px;
	}
	.order_btn {
		border: #525abb 1px solid;
		color: #525abb;
		background-color: transparent;
	}
	.item-button {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		transition-duration: 0.5s;
	}
	.order_btn:hover {
		background-color: #525abb;
		color: #fff;
	}
	/*我的成就-任務列表*/
	.container-wrapper>.row{
		margin: 0 2rem 2rem 2rem;
	}
	.medal-init-card {
		padding: 0.5rem;
		margin: 0 0 2rem 0;
		border-radius: 12px;
		overflow: hidden;
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}
	.medal-init-detail-text {
		font-size: 1.1rem;
		margin-bottom: 2px;

	}
	.medal-coin-img{
		display: inline-block;
	}
	.medal-coin-text{
		color: #e09c08;
		font-weight: bold;
		margin-left: 2px;
		font-size: 1.1rem;
		letter-spacing: 1px;
	}
	/*我的成就*/
	.flag7 {
		cursor: pointer;
	}
	.medal-card {
		padding-right: 2rem;
		padding-left: 1rem;
		margin: 1rem 5rem;
		border-radius: 12px;
		overflow: hidden;
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	.medal-card>*{
		margin: 10px;
	}
	.medal-img {
		padding: 15px;
		width: 80px;
		height: 80px;
	}
	.medal-detail {
		width: 70%;
		display: flex;
		flex-direction: column;
	}
	.progress {
		margin-top:10px;
		margin-bottom: 0px;
	}
	
	.medal-detail-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

	}
	.medal-detail-text>* {
		margin:10px 2px;
		color: #595959;
	}
	.progress-text {
		font-weight: bold;
	}

/*訊息通知*/
.noti-card {
	padding: 1rem 3rem 1rem 2rem;
	margin: 1rem 1rem;
	/*border-radius: 12px;*/
	overflow: hidden;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.noti-card > * {
	margin: 10px;
}
.noti-card-img {
	width: 200px;
	height: 200px;
	padding: 5px 1.5rem 5px 5px;
	display: flex;
	align-items: center;
}
.noti-card-detail_title {
	color: #595959;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 2.3rem;
}
.noti-card-detail_text {
	padding-right: 1.5rem;
	color: #595959;
	font-size: 1rem;
	line-height: 1.7rem;
}
.noti-card-detail_date {
	color: #A6A6A6;
	font-size: 1rem;
	margin-top: 0.5rem;
	
}

/*許願清單-我的許願*/
.myWish-card {
	border: solid 1px rgb(218, 218, 218);
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 1rem 3rem;
	overflow: hidden;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition-duration: 0.5s;
}
.myWish-card:hover{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.wish-dataRange {
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #525abb;
}
.wish-priceRange {
	color: #d0011b;
	font-size: 1.5rem;
	line-height: 3rem;
}
.add_icon{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #525abb;
	color: #fff;
	text-align: center;
	line-height: 50px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.add_icon:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
/*彈出視窗*/
.modal-title{
	font-weight: bold;
	color: #595959;
}
form.popperForm {
	margin-top: 0;
	font-weight: bold;
}

/*彈出視窗-評分視窗*/

#wrapper input {
	display: none;
}
#wrapper label {
	font-weight: normal;
	color: #495057;
}
#wrapper label i {
	color: #e09c08;
	cursor: pointer;
	font-size: 2rem;
	letter-spacing: 5px;
}



/*賣家中心*/
.container-wrapper-seller {
	min-height: 500px;
	min-width: 100%;;
	background-color: rgb(247, 247, 247);
} 
.container-wrapper-seller td img{
	height: 30px;
	margin: auto;
}
.container-wrapper-seller td{
	text-align: center;
	vertical-align: middle;
}
.container-wrapper-seller th{
	text-align: center;
	vertical-align: middle;
}
.btn-darkBlue{
	background-color: transparent;
	border: #1e5793;
	color: #1e5793;
}
.btn-darkBlue:hover{
	background-color: #1e5793;
	color: #fff;
}
/*賣家中心-團購*/
.text{
	color: #1e5793;
}
.modal-label {
	vertical-align: middle;
	color: #525abb;
	margin: 0;
	font-weight: normal;
	float: right;
}
.modal-form-group {
	justify-content: center;
	align-items: center;
}